@import './product-list/index';
figure {
  svg {
    margin-bottom: -0.4375rem;
    vertical-align: baseline;
  }
}

.icon-back {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;

  color: #ee4d2d;
  stroke: #ee4d2d;

  background-image: url('/assets/images/icons/icon-back.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.section-product-list {
  min-height: 1px;
  // padding: 1.25rem;
}

.product-list-info {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 11px;
  margin-bottom: 14px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 576px) {
    flex-wrap: wrap;
    .search-wrapper {
      width: 100%;
      form {
        width: 100%;

        input {
          width: calc(100% - 116px);
        }
        button {
          width: 116px;
        }
      }
    }
  }
  .category-title {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
  }
  .search-wrapper {
    display: flex;
    justify-content: end;

    form {
      display: flex;
      justify-content: end;
      outline: none;
      button {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
}
.page-categories {
  .card {
    border: none;
  }
}

.page-products {
  @media only screen and (max-width: 959px) and (min-width: 768px) {
    .container,
    .section_wrapper,
    .with_aside .content_wrapper {
      width: 790px;
    }
  }
}
