{% extends "../../layouts/darkchild.layout.twig" %}

{% block content %}
	<div class="page-categories bg-gray page-products">
		<section class="container bg-white">
			<div class="pt-6 mb-2">
				<div class="row">
					<div class="column one-fourth sidebar">
						{% include "../../partials/sidebar-filters/index.twig" with { categories: categories } %}
					</div>
					<div class="column three-fourth section-product-list">
						<div class="product-list-info">
							<span class="category-title">
								{{t('Have')}}
								{{ pagination.total }}
								{{t('products found')}}
							</span>
							<div class="search-wrapper">
								<form method="get" action="/{{ t('t.path:search') }}">
									<input type="text" id="input-search" name="s" placeholder="{{ t('Search products') }}"/>
									<div class="search-submit">
										<button type="submit" class="submit">
											<i class="far fa-search"></i>
											{{ t('Search') }}
										</button>
									</div>
								</form>
							</div>
						</div>
						{% include "./product-list/index.twig" with  { products : products}%}
						{% include "../../partials/_components/pagination/index.twig" with { pagination : pagination}  %}
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
