.product-item {
  .img-wrap {
    min-height: 160px;
    height: auto;
    img {
      width: 100%;
    }
  }
  .title {
    color: #000;
    font-size: 1rem;
  }
  .brief {
    color: #000;
  }
  .price {
    color: #000;
    font-size: $h4;
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .column {
    margin: 0 1% 0px;
    p {
      margin-bottom: 0;
    }
  }

  aside:last-child {
    text-align: right;
  }
}
