{% set productLocale =  helpers.getProductByLocale(product, language) %}
<article class="card product-item">
	<div class="card-body">
		<aside class="column one-fourth pl-0 pr-0">
			<a href="/{{ t('path:product') }}/{{ productLocale.slug }}" class="img-wrap">
				<img src="{{ productLocale.feature }}" alt="{{ productLocale.name }}">
			</a>
		</aside>
		<article class="column one-second">
			<a href="/{{t('path:product')}}/{{ productLocale.slug }}" class="title mt-2 h5">
				{{ productLocale.name }}
			</a>
			<p class="brief mt-2">{{ productLocale.brief }}</p>
		</article>
		<aside class="column one-fourth">
			<div class="price-wrap mt-2">
				<span class="price h5">
					<span>{{ productLocale.priceMin }}
						{{ productLocale.priceMax !=  productLocale.priceMin ? ' <br/> ' : ''}}
						{{ productLocale.priceMax != productLocale.priceMin ?  productLocale.priceMax : ''}}
					</span>
				</span>
			</div>
			<br/>
			<a href="/{{ t('path:shopping-cart')}} " class="btn btn-primary buyNow">
				{{ t('View now') }}
			</a>
		</aside>
	</div>
</article>
