{% if pagination.pages > 1 %}
	<nav class="mt-4" aria-label="Page navigation sample">
		<ul class="pagination justify-content-end">
			<li class="page-item">
				<a class="page-link" href="/{{t('path:categories')}}/{{ pagination.slug }}/{{pagination.currentPage - 1}}">{{t('Previous')}}</a>
			</li>
			{% for i in 0..(  pagination.pages - 1 )  %}
				<li class="page-item">
					<a class="page-link" href="/{{t('path:categories')}}/{{ pagination.slug }}/{{ i + 1 }}">{{ i+1 }}</a>
				</li>
			{% endfor %}
			<li class="page-item">
				<a class="page-link" href="/{{t('path:categories')}}/{{ pagination.slug }}/{{pagination.currentPage + 1}}">{{t('Next')}}</a>
			</li>
		</ul>
	</nav>
{% endif %}
