.map {
  img {
    width: 100%;
    height: auto;
  }
}

.office-local {
  padding: 20px;
  a {
    color: $gray-800;
  }
}

.address {
  display: flex;
  flex-wrap: wrap;
}
.item-address {
  color: #000;
  i {
    color: red;
    font-weight: 700;
  }
}

.item-contact {
  color: #000;
  i {
    color: #8c8cc2;
    font-weight: 700;
  }
}
.desc_wrapper {
  h4 {
    font-weight: 400;
  }
}
#contactWrapper {
  .btn {
    background-color: $primary;
    &:hover {
      color: #000000;
    }
  }
}
