{% extends "../../layouts/darkchild.layout.twig" %}

{% block content %}
	<div id="Content">
		<div class="content_wrapper clearfix">
			<div class="sections_group">
				<div class="entry-content">
					{% include "./staffs/index.twig" with { staffs: site.staffs } %}
					{% include "./address/index.twig" with { staffs: site.staffs } %}
					{% include "./map/index.twig" with { staffs: site.staffs } %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block afterAppScript %}
	<script src="http://maps.google.com/maps/api/js?sensor=false&ver=5.9"></script>
	<script>
		function showGoogleMap() {
var latlng = new google.maps.LatLng(21.030939, 105.800160);
var myOptions = {
zoom: 14,
center: latlng,
mapTypeId: google.maps.MapTypeId.ROADMAP,
styles: [
{
"featureType": "administrative",
"elementType": "labels.text.fill",
"stylers": [
{
"color": "#444444"
}
]
},
{
"featureType": "administrative.country",
"elementType": "geometry",
"stylers": [
{
"visibility": "on"
}
]
},
{
"featureType": "administrative.country",
"elementType": "geometry.stroke",
"stylers": [
{
"visibility": "on"
}
]
},
{
"featureType": "administrative.country",
"elementType": "labels.text",
"stylers": [
{
"hue": "#fff600"
}
]
}, {
"featureType": "landscape",
"elementType": "all",
"stylers": [
{
"color": "#f2f2f2"
}
]
}, {
"featureType": "poi",
"elementType": "all",
"stylers": [
{
"visibility": "off"
}
]
}, {
"featureType": "road",
"elementType": "all",
"stylers": [
{
"saturation": -100
}, {
"lightness": 45
}
]
}, {
"featureType": "road.highway",
"elementType": "all",
"stylers": [
{
"visibility": "simplified"
}
]
}, {
"featureType": "road.arterial",
"elementType": "labels.icon",
"stylers": [
{
"visibility": "off"
}
]
}, {
"featureType": "transit",
"elementType": "all",
"stylers": [
{
"visibility": "off"
}
]
}, {
"featureType": "water",
"elementType": "all",
"stylers": [
{
"color": "#cad3d5"
}, {
"visibility": "on"
}
]
}
],
zoomControl: true,
mapTypeControl: false,
streetViewControl: false,
scrollwheel: false
};
var map = new google.maps.Map(document.getElementById("google-map-area-55310ed3f1e0e"), myOptions);
var marker = new google.maps.Marker({position: latlng, icon: "/assets/images/global/home_factory_pin.png", map: map});
var marker1 = new google.maps.Marker({
position: new google.maps.LatLng(21.050940, 105.800160),
icon: "/assets/images/global/home_factory_pin.png",
map: map
});
var marker2 = new google.maps.Marker({
position: new google.maps.LatLng(21.040940, 105.78160),
icon: "/assets/images/global/home_factory_pin.png",
map: map
});
var marker3 = new google.maps.Marker({
position: new google.maps.LatLng(21.030940, 105.840260),
icon: "/assets/images/global/home_factory_pin.png",
map: map
});
}
jQuery(document).ready(function ($) {
showGoogleMap();
});
	</script>
{% endblock %}
