{% block content %}
	<!doctype html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>DtdAuto sent email</title>
			<style>
				.invoice-box {
					max-width: 768px;
					margin: auto;
					padding: 30px;
					border: 1px solid #eee;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
					font-size: 16px;
					line-height: 24px;
					font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
					color: #555;
				}

				.divider {
					border-top: 1px solid #eee;
					margin-top: 40px;
					margin-bottom: 10px;
				}

				.subject {
					width: 100%;
				}

				.subject h2 {
					font-size: 26px;
					color: #c4bfbf;
				}

				.subject h3 {
					font-size: 16px;
					font-weight: 500;
				}

				.subject .border {
					border: 1px solid #c4bfbf;
					border-radius: 6px;
					display: inline-block;
					padding: 4px 40px;
				}

				.items {
					margin-top: 20px;
					width: 100%;
					line-height: inherit;
					text-align: right;
				}

				.items td {
					padding: 5px;
					vertical-align: top;
				}

				.items tr td:first-child {
					text-align: left;
				}

				.invoice-box table tr.top table td {
					padding-bottom: 20px;
				}

				.invoice-box table tr.top table td.title {
					font-size: 45px;
					line-height: 45px;
					color: #333;
				}

				.invoice-box table tr.information table td {
					padding-bottom: 40px;
				}

				.invoice-box table tr.heading td {
					background: #eee;
					border-bottom: 1px solid #ddd;
					font-weight: bold;
				}

				.invoice-box table tr.details td {
					padding-bottom: 20px;
				}

				.invoice-box table tr.item td {
					border-bottom: 1px solid #eee;
				}

				.invoice-box table tr.item.last td {
					;
					/* border-bottom: none; */
				}

				.invoice-box table tr.total td:nth-child(2) {
					/* border-top: 2px solid #eee; */
					font-weight: bold;
				}

				@media only screen and(max-width: 600px) {
					.invoice-box table tr.top table td {
						width: 100%;
						display: block;
						text-align: center;
					}

					.invoice-box table tr.information table td {
						width: 100%;
						display: block;
						text-align: center;
					}
				}
			</style>
		</head>
		<body>
			<div class="invoice-box">
				<table class="subject">
					<tr>
						<td class="title">
							<img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
						</td>
						<td>
							<h2>INVOINCE</h2>
							Invoice #: 123
							<br>
							Invoice Date: January 1, 2015<br>
							Due date: February 1, 2015
						</td>
					</tr>

					<tr>
						<td>
							<h3>DTDAUTO VIET NAM</h3>
							NGUYỄN THỊ THU LAN<br>
							<a>dtdauto@gmail.com</a><br>
							<a>dtdauto.com</a><br>
						</td>

						<td>
							<span class="border">Amount due<br>
								<strong>$1,415.00</strong>
							</span>
						</td>
					</tr>
				</table>

				<div class="divider"></div>

				<table class="subject">
					<tr>
						<td>
							NGUYỄN THỊ THU LAN<br>
							NGUYỄN THỊ THU LAN<br>
							NGUYỄN THỊ THU LAN<br>
						</td>

						<td>
							NGUYỄN THỊ THU LAN<br>
							NGUYỄN THỊ THU LAN<br>
							NGUYỄN THỊ THU LAN<br>
						</td>
					</tr>

				</table>

				<table class="items" cellpadding="0" cellspacing="0">
					<tr class="heading">
						<td>
							Item
						</td>
						<td>
							Quantity
						</td>
						<td>
							Price
						</td>
						<td>
							Amount
						</td>
					</tr>
					<tr class="item">
						<td>
							Website design
						</td>

						<td>
							1
						</td>
						<td>
							$300.00
						</td>
						<td>
							$300.00
						</td>

					</tr>
					<tr class="item">
						<td>
							Hosting (3 months)
						</td>

						<td>
							1
						</td>
						<td>
							$300.00
						</td>
						<td>
							$300.00
						</td>
					</tr>
					<tr class="item last">
						<td>
							Domain name (1 year)
						</td>
						<td>
							1
						</td>
						<td>
							$300.00
						</td>
						<td>
							$300.00
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td>
							Total:
						</td>
						<td>
							$385.00
						</td>
					</tr>
				</table>
			</div>
		</body>
	</html>
{% endblock %}
