.slider-banners {
  width: 100vw;
  height: 100vh;
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    width: 100vw;
    height: auto;
  }
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
