{% set bannerLocale = site.language == 'vi' ? 
    { alt:banner.altVn, imageMobileUrl: banner.imageMobile ? banner.imageMobile.url:  '', imagePcUrl: banner.imagePc ? banner.imagePc.url:  '', alt: banner.altVn, link: banner.linkVn} :
    { alt:banner.altEn, imageMobileUrl: banner.imageMobile ? banner.imageMobile.url:  '', imagePcUrl: banner.imagePc ? banner.imagePc.url:  '', alt: imagePc.altEn, link: banner.linkEn}
%}

<div class="swiper-slide">
	<picture>
		<source media="(max-width: 799px)" srcset="{{ bannerLocale.imageMobileUrl }}">
		<img class="slide-image" src="{{ bannerLocale.imagePcUrl }}" alt="{{ bannerLocale.alt }}">
	</picture>
</div>
