<div class="section full-width column-margin-10px" style="padding-top:70px; padding-bottom:40px; ">
	<div class="section_wrapper clearfix">
		<div class="items_group clearfix">
			<div class="column one-second column_column ">
				<div class="column_attr ">
					<div style="margin: 0 6%;">
						<h2>{{ t('Addresses')}}</h2>
						<div class="address">
							{% for address in site.addresses %}
								{% include "./item.twig" with { address: address } %}
							{% endfor %}
						</div>
					</div>
					<div style="margin: 0 6%;">
						<h2>{{ t('Online Contacts')}}</h2>
						<p>
							<i>({{ t('Online contact to us from 8h00 to 18h00 (GMT +7) in working-days')}})</i>
						</p>
						<div class="address">
							{% for contact in site.onlineContacts %}
								{% include "./item-online-contact.twig" with { contact: contact } %}
							{% endfor %}
						</div>
					</div>
					<div style="margin: 0 6%;">
						<h2>{{ t('Offline Contacts')}}</h2>
						<p>
							<i>({{ t('Offline contact to us all the time in days')}})</i>
						</p>
						<div class="address">
							{% for contact in site.offlineContacts %}
								{% include "./item-offline-contact.twig" with { contact: contact } %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="column one-second column_column ">
				<div class="column_attr ">
					<div style="margin: 0 6%;">
						<h2>{{ t('Questions? Write us')}}!</h2>
						<p class="big">
							<strong>{{ t('Notes')}}:</strong>
							{{ t('When you email to DTDAUTO, please provide information') }}:
							<br/>
							<strong>{{ t('Content include') }}:</strong>
							<br/>
							{{ t('Full Name (necessary to deliver)')}}
							<br/>
							{{ t('Address (necessary to calculate shipping fee)')}}

							<br/>
							{{ t('Phone (necessary to contact in emergency)')}}

							<br/>
							<strong>{{ t('Request')}}:</strong>
							<br/>
							{{ t('All your emails will be replied after no later than 24 hours (except holidays)')}}.
							{{ t('If you do not receive replies, may be your emails are lost or because of transmission line faults')}}.
							{{ t('Please send again')}}
						</p>
						<div id="contactWrapper">
							<form id="contactform">
								<div class="column one-second">
									<input placeholder="{{ t('Your name') }}" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false"/>
								</div>
								<div class="column one-second">
									<input placeholder="{{ t('Your e-mail')}}" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false"/>
								</div>
								<div class="column one">
									<input placeholder="{{t('Subject')}}" type="text" name="subject" id="subject" size="40" aria-invalid="false"/>
								</div>
								<div class="column one">
									<textarea placeholder="{{t('Message')}}" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
								</div>
								<div class="column one">
									<input class="btn" type="button" value="{{t('Send Message')}}" id="submit" onclick="return check_values();">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></p>
