{% set contactLocale = language == 'vi' 
	? {  mobile: contact.mobileVn, name: contact.nameVn} 
	: {  mobile: contact.mobileEn, name: contact.nameEn} 
%}
<div class="column one-second">
	<div style="padding: 0 0 0 55px; margin-bottom: 30px;">
		<h4 class="hrmargin_b_7 item-contact">
			<i class="fab fa-skype"></i>
			{{ contactLocale.name }}</h4>
		<p>
			{{ contactLocale.mobile }}
		</p>
	</div>
</div>
