{% set addressLocale = language == 'vi' 
	? {  mobile: address.mobile, name: address.nameVn, email: address.email, address: address.addressVn } 
	: {  mobile: address.mobile, name: address.nameEn, email: address.email, address: address.addressEn } 
%}
<div class="column one-second">
	<div style="padding: 0 0 0 55px; margin-bottom: 30px;">
		<h4 class="hrmargin_b_7 item-address">
			<i class="fas fa-map-marker-alt"></i>
			{{ addressLocale.name }}</h4>
		<p>
			{{ addressLocale.address }}
		</p>
	</div>
</div>
