{% set productLocale = helpers.getProductByLocale(product, language) %}
<div class="swiper-slide">
	<figure class="card card-product-grid">
		<div class="img-wrap">
			<img src="{{ productLocale.feature }}" alt="{{ productLocale.name }}">
		</div>
		<figcaption class="info-wrap text-center">
			<h6 class="title text-truncate">
				<a href="/{{ t('path:product') }}/{{ productLocale.slug }}">{{ productLocale.name }}</a>
			</h6>
			<div class="price">{{ productLocale.priceMin }}
				{{ productLocale.priceMax != productLocale.priceMin ?  ' - ' : ''}}
				{{ productLocale.priceMax != productLocale.priceMin ?  productLocale.priceMax : ''}}</div>
		</figcaption>
	</figure>
</div>
