.blog-item {
  &-brief {
    max-height: 70px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.page-news {
  .card {
    border: none;
  }
  .h5 {
    font-size: 22px;
    line-height: 1.2;
  }
}
