{% extends "../../layouts/darkchild.layout.twig" %}

{% block content %}
	<div class="container space-2 space-top-md-2 space-top-lg-3 space-bottom-md-2 space-bottom-lg-3 page-news">
		<div class="w-lg-80 mx-auto">
			{% for item in posts %}
				<article class="d-block card border-0 mb-7 blog-item" itemscope itemtype="http://schema.org/NewsArticle">
					<div class="card-body p-0">
						<div class="row">
							<div class="column one-third">
								<img class="img-fluid w-100 rounded" alt="{{ item.title }}" src="{{ item.image.url }}"/>
							</div>
							<div class="column two-third">
								<div class="pt-1 pr-4">
									<div class="mb-7">
										<h2 class="h5" itemprop="headline">
											<a href="/{{ t('path:news')}}/{{ item.slug }}">
												{{ item.title }}</a>
										</h2>
										<p itemprop="description" class="blog-item-brief">
											{{ item.brief }}
										</p>
									</div>
									<a href="/{{ t('path:news')}}/{{ item.slug }}">
										{{  t('Read more') }}</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
	</div>
{% endblock %}
