{% extends "../../layouts/darkchild.layout.twig" %}
{% block content %}
	<div class="container space-top-2 space-top-md-2 space-bottom-md-2 space-bottom">
		<div class="w-lg-80 mx-auto">
			<section class="post post-{{ post.id }}">
				<h2 class="title">{{ post.title }}</h2>
				{% if post.image %}
					<div class="row">
						<div class="col-md-12">
							<img class="img-responsive" alt="{{ post.title }}" title="{{ post.title }}" src="{{ post.image.url }}" style="width: 100%">
						</div>
					</div>
				{% endif %}
				<div class="post-content">
					{{ post.desc | raw}}
				</div>
			</section>
		</div>
	</div>
{% endblock %}
