<footer id="Footer" class="clearfix">
	<div class="widgets_wrapper">
		<div class="container">
			<div class="column one-fourth">
				<aside class="widget widget_text">
					<h4>{{ t('About us')}}
					</h4>
					<div class="textwidget">
						<ul class="footer_links">
							<li>
								<a href="{{ t('path:news')}}">{{ t('News')}}</a>
							</li>
							<li>
								<a href="{{ t('path:about')}}">{{ t('About')}}</a>
							</li>
							<li>
								<a href="{{ t('path:contact')}}">{{ t('Contact')}}</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
			<div class="column one-fourth">
				<aside class="widget widget_text">
					<h4>{{ t('Services')}}</h4>
					<div class="textwidget">
						<ul class="footer_links">
							{% for item in site.menusFooterServices %}
								<li>
									<a href="{{ item[site.language].slug }}">{{ item[site.language].name}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</aside>
			</div>
			<div class="column one-fourth">
				<aside class="widget widget_text">
					<h4>{{ t('Products')}}</h4>
					<div class="textwidget">
						<ul class="footer_links">
							{% for menu in site.menuMainCategories %}
								<li>
									<a href="{{menu[site.language].slug }}">{{ menu[site.language].name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</aside>
			</div>
			<div
				class="column one-fourth">
				<!-- Text Area -->
				<aside class="widget widget_text">
					<h4>{{ t('Application')}}</h4>
					<div class="textwidget">
						<ul class="footer_links">
							<li>
								<a href="https://www.apple.com/ios/app-store/" target="_blank" rel="nofollow" class="d-block mb-2">
									<img src="/assets/images/icons/appstore.png" height="40" alt="dtdauto appstore"></a>
							</li>
							<li>
								<a href="https://play.google.com" target="_blank" rel="nofollow" class="d-block mb-2">
									<img src="/assets/images/icons/playmarket.png" height="40" alt="dtdauto google play store"></a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<div class="column one">
				<div class="copyright">
					&copy; 2020
					{{ t('DTDAuto technology center')}}
				</div>
			</div>
		</div>
	</div>
</footer>
