.box-category {
  .card-title {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
  }
  .menu-item {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 8px;
    padding-bottom: 7px;
    line-height: 1.4;
    &-child {
      border-bottom: 1px solid #f1f1f1;
      padding: 6px 0px;
      &:last-child {
        border-bottom: none;
      }
    }
    .menu-dropdown {
      margin-top: 8px;
      ul {
        margin-left: 8px;
      }
      display: none;
    }
    &.active {
      .menu-dropdown {
        display: block;
      }
      padding-bottom: 0;
    }
    .menu-expand {
      &::after {
        position: absolute;
        background-color: #f0ebeb;
        color: #000;
        padding: 4px 10px;
        right: 0;
        top: 0;
        cursor: pointer;
        content: '+';
        &:hover {
          background-color: #f1f1f1;
        }
      }
      &.active:after {
        content: '--';
        letter-spacing: -1px;
      }
    }
  }
  a {
    color: #000;
  }
}
