<div class="card mb-3 box-category">
	<div class="card-body">
		<h5 class="card-title">{{t('Product Categories')}}
		</h5>
		<ul class="list-menu">
			{% for category in categories %}
				{% include "./item.twig" with {category:category} %}
			{% endfor %}
		</ul>
	</div>
</div>
