{% set itemLocale2 = language == 'vi' 
	? { name:  category.nameVn, slug: category.slugVn, child: category.child} 
	: { name:  category.nameEn, slug: category.slugEn, child: category.child} 
%}

<li class="menu-item-child">
	<a href="{{ item.slug }}">{{ itemLocale2.name }}</a>
</li>
