{% set categoryLocale = category[language] %}

<li class="menu-item" onclick="(function(e){e.classList.toggle('active')})(this)">
	<a href="{{ categoryLocale.slug }}">
		{{ categoryLocale.name }}
	</a>
	{% if category.children | length %}
		<div class="menu-expand" onclick="(function(e){e.classList.toggle('active')})(this)"></div>
		<div class="menu-dropdown" aria-labelledby="languages">
			<ul>
				{% for item in category.children  %}
					<li class="menu-item-child">
						<a href="{{ item[language].link }}">
							{{ item[language].name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</li>
