@import './products/index';
@import './product-detail/index';

@import './about-us/index';

@import './news/index';
@import './shopping-cart/index';
@import './contact/index';
@import './training/index';

.section-banner-image {
  .items_group {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      .column {
        width: 100% !important;
      }
    }
  }
}
.banner-image {
  padding-top: 0px;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  background-image: url(/assets/images/banners/banner_5.jpg);
  background-image: url(/assets/images/banners/banner_5.jpg);
  width: 50% !important;
  margin: unset;
  margin-left: 0 !important;
  margin-right: 0 !important;

  @include media-breakpoint-down(sm) {
    background-image: url(/assets/images/banners/banner_5_small.jpg);
    width: 50% !important;
  }
}

.mb-0 {
  margin-bottom: 0;
}
.search-wrapper {
  display: flex;
  justify-content: flex-end;
  form {
    display: flex;
    justify-content: end;
    input {
      border-color: #324968 !important;
      box-shadow: none !important;
      margin-right: 0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    button {
      margin: 0;
    }
  }
}
