{% extends "../layouts/dark.layout.twig" %}
{% block beforeStyle %}
<link href="/assets/vendors/swiper/swiper.min.css" rel="stylesheet">
{% endblock%}

{% block content %}
	<div id="Content">
		<div class="content_wrapper clearfix">
			<div class="sections_group">
				<div class="entry-content">
					<div class="section" style="padding-top:70px; padding-bottom:50px; background-color:#324968; background-image:url(/assets/images/global/home_factory_pattern.png); background-repeat:no-repeat; background-position:center bottom; ">
						<div class="section-divider triangle up"></div>
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								<div class="column one column_column ">
									<div class="column_attr align_center">
										<h3 style="color: #fff; margin: 0 7%;">
											{{ t('home_welcome')}}
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section full-width column-margin-20px" style="padding-top:10px; padding-bottom:0px; background-color:#f4f5f7; background-image:url(/assets/images/global/home_factory_offer_bg1.jpg); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-stellar-background-ratio="0.5">
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								<div class="column one-second column_placeholder">
									<div class="placeholder">
										&nbsp;
									</div>
								</div>
								<div class="column one-second column_column ">
									<div class="search-wrapper">
										<form method="get" action="/{{ t('t.path:search') }}">
											<input type="text" id="input-search" name="s" placeholder="{{ t('Search products') }}"/>
											<div class="search-submit">
												<button type="submit" class="submit">
													<i class="far fa-search"></i>
													{{ t('Search') }}
												</button>
											</div>
										</form>
									</div>
									<div class="column_attr ">
										<div style="margin: 70px 6%;">
											<h2>
												{{ t('home_heading5') }}
											</h2>
											<p class="big">
												{{ t('home_brief5') }}
											</p>
											<div class="column one-second">
												<p class="big">
													{{ t('home_detail5_1') }}
												</p>
											</div>
											<div class="column one-second">
												<p class="big">
													{{ t('home_detail5_2') }}
												</p>
											</div>
											<hr class="no_line hrmargin_b_1"/>
											<a class="button button_large button_theme button_js" href="{{ t('path:categories')}}/{{t('path:all-products')}}" style=" color:#324968;">
												<span class="button_label">{{ t('Go to products') }}
													>></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section no-margin-h no-margin-v full-width section-border-bottom " style="padding-top:0px; padding-bottom:0px; background-color:#FCFCFC">
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								{% set imageCategory = ['/assets/images/global/home_factory_icon_3.png',
														'/assets/images/global/home_factory_icon_3.png',
														'/assets/images/global/home_factory_icon_2.png',
														'/assets/images/global/home_factory_icon_5.png',
														'/assets/images/global/home_factory_icon_1.png',
														'/assets/images/global/home_factory_icon_2.png',
														] 
								%}
								{% for key, menu in site.menuMainCategories %}
									{% if key != 0 %}
										<div class="column one-fifth column_hover_color ">
											<div class="hover_color" style="background:#e5edf1;">
												<div class="hover_color_bg" style="background:#fcfcfc;">
													<a href="{{ menu[site.language].slug }}">
														<div class="hover_color_wrapper">
															<div style="text-align: left;">
																<div class="image_frame no_link scale-with-grid alignleft no_border">
																	<div class="image_wrapper">
																		<img class="scale-with-grid" src="{{ imageCategory[key] }}" alt="{{ menu[site.language].name }}"/>
																	</div>
																</div>
																<hr class="no_line hrmargin_b_20"/>
																<h4>{{ menu[site.language].name }}</h4>
															</div>
														</div>
													</a>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="section full-width " style="padding-top:90px; padding-bottom:50px; ">
						<div class="section_wrapper clearfix">
							<div
								class="items_group clearfix">
								<!-- One Third (1/3) Column -->
								<div class="column one-third column_column">
									<div class="column_attr align_right">
										<div style="padding: 70px 6%; border-right: 3px solid #97a2b2;">
											<h2>
												{{ t('home_heading2') }}
											</h2>
										</div>
									</div>
								</div>
								<div class="column one-third column_image ">
									<div class="image_frame no_link scale-with-grid aligncenter no_border">
										<div class="image_wrapper">
											<img class="scale-with-grid" src="/assets/images/global/home_factory_map.png" alt=""/>
										</div>
									</div>
								</div>
								<div class="column one-third column_column">
									<div class="column_attr ">
										<div style="padding: 70px 6%; border-left: 3px solid #97a2b2; min-height: 177px;">
											<p class="big">
												{{t('home_detail2')}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section highlight-left full-width section-banner-image">
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								<div class="column one-second column_column mb-0">
									<div class="column_attr ">
										<div style="margin: 70px 6%;">
											<h2>{{t('home_heading1')}}
											</h2>
											<h4>
												{{t('home_detail1')}}
											</h4>
											<hr class="no_line hrmargin_b_30"/>
											<hr
											class="no_line hrmargin_b_30"/>
											<!-- One Second (1/2) Column -->
											<div class="column one-second">
												<p class="big">
													{{t('home_detail3')}}
												</p>
											</div>
											<!-- One Second (1/2) Column -->
											<div class="column one-second">
												<p class="big">
													{{t('home_detail4')}}
												</p>
												<a class="button button_large button_js" href="{{ t('path:about-us') }}" style=" background-color:#324968 !important; color:#fff;">
													<span class="button_label">
														{{t('Read more')}}
														>>
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="column one-second column_column mb-0 banner-image">
									<div class="column_attr align_center">
										<hr class="no_line" style="margin: 0 auto 230px;"/>
										<hr class="no_line" style="margin: 0 auto 160px;"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section the_content no_content">
						<div class="section_wrapper">
							<div class="the_content_wrapper"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block beforeAppScript %}
	<script src="/assets/vendors/swiper/swiper.min.js"></script>
{% endblock %}
