.page-product-detail {
  .card {
    border: none;
    &-body {
      padding-left: 0;
      padding-right: 0;
    }
    .tabs {
      &-heading {
        display: flex;
        &-item {
          padding: 8px;
          border: 1px solid #ddd;
          border-bottom-color: white;
          margin-bottom: -1px;
        }

        .title {
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      &-content {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #ddd;
        line-height: 1.4;
      }
    }
  }
  .gallery-wrap {
    .img-big-wrap {
      margin-bottom: 10px;
      border-radius: $border-radius;
      overflow: hidden;
      background-color: #fff;
      padding: 40px;

      a {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: auto;
        display: inline-block;
        cursor: zoom-in;
      }
    }
    .thumbs-wrap {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      .item-thumb {
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        margin: 3px;
        display: inline-block;
        overflow: hidden;
        display: flex;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        cursor: zoom-in;
        &:hover {
          filter: brightness(1.1);
          cursor: zoom-in;
        }
      }
    }
  }

  .item-option-select {
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 15px;
    .btn {
      min-width: 80px;
    }
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    .col {
      margin-right: 16px;
      input.form-control {
        width: 100px;
      }
    }
  }

  .product-detail {
    .title {
      font-size: 21px;
      line-height: 1.3;
    }
    .price {
      font-size: 16px;
    }

    select {
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  .product-list-property {
    display: flex;
    flex-wrap: wrap;
    list-style: disc;
    padding-left: 20px;
    li {
      width: 50%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
  .content-body {
    margin-top: 40px;
  }
}

.divider {
  background: 0 0 !important;
  border-top: 1px solid #ccc !important;
  margin-bottom: -36px !important;
  height: 44px !important;
  border: 0;
}
