{% extends "../../layouts/darkchild.layout.twig" %}
{% set productLocale =  helpers.getProductByLocale(product, language) %}
{% block beforeStyle %}
<link href="/assets/vendors/swiper/swiper.min.css" rel="stylesheet">
{% endblock%}
{% block content %}
	<script>
		var productData = {{ helpers.getProductString(productLocale) }};
	</script>
	<section class="section-pagetop bg-white page-products">
		<div class="container">
			<div class="page-product-detail">
				<div class="card product-detail">
					<div class="row no-gutters">
						<aside class="column one-second border-right">
							<article class="gallery-wrap">
								<div class="img-big-wrap">
									<img id="image-main" src="{{ productLocale.feature }}" alt="{{ productLocale.name }}">
								</div>
								<div class="thumbs-wrap">
									{% for img in productLocale.images %}
										<div class="item-thumb">
											<img src="{{ img.url }}" alt="{{ productLocale.name }}" onclick="app.onClickImageThumb(this);">
										</div>
									{% endfor %}
								</div>
							</article>
						</aside>
						<main class="column one-second">
							<article class="content-body">
								<h2 class="title">{{ productLocale.name }}
								</h2>
								<div class="h3">
									<div class="price h4">
										{{t('Price')}}:
										<span>{{ productLocale.priceMin }}
											{{ productLocale.priceMax !=  productLocale.priceMin ? ' - ' : ''}}
											{{ productLocale.priceMax != productLocale.priceMin ?  productLocale.priceMax : ''}}
										</span>
									</div>
								</div>
								<br/>
								<p>{{ productLocale.brief }}</p>
								<template x-if="variants && variants.length > 1">
									<template x-for="(option, parentIndex) in options">
										<div>
											<strong>{{ t('Option')}}
												<span x-text="options[0].name"></span>
											</strong>
											<select @change="clickChangeVariant($event.target.value)">
												<template x-for="variant in variants">
													<option x-bind:value="variant.variantId" x-text="variant.option1 + ' - '+ variant.priceString"></option>
												</template>
											</select>
										</div>
									</template>
								</template>
								<ul class="product-list-property cols-two mt-4">
									<li>
										<strong>{{t('Product code')}}</strong>:
										<span x-text="variantCurrent.sku"></span>
									</li>
									<li>
										<strong>{{t('Made by')}}</strong>:
										<span x-text="product.madeBy"></span>
									</li>
									<li>
										<strong>{{t('Net Weight')}}</strong>:
										<span x-text="variantCurrent.netWeight + ' Kg'"></span>
									</li>
									<li>
										<strong>{{t('Weight')}}</strong>:
										<span x-text="variantCurrent.weight + ' Kg'"></span>
									</li>
								</ul>
								<div class="form-row mt-4">
									<div class="col">
										<input type="number" class="form-control" min="1" max="200" value="1" name="quantity" x-ref="inputQuantity"/>
									</div>
									<div class="col">
										<a href="/{{ t('path:shopping-cart') }}" class="btn btn-primary buyNow" @click="addToCart({ id: variantCurrent.variantId, quantity: $refs.inputQuantity.value })" data-id=" {{product.id}} " data-variantid=" {{product.id}} ">
											<span class="text">{{ t('Buy Now') }}
											</span>
										</a>
									</div>
									<div class="col">
										<div class="cta-addtocart" x-bind:data-variant="variantCurrent.variantId">
											<button class="btn btn-cart addToCart" @click="toggleAddToCart({ id: variantCurrent.variantId, quantity: $refs.inputQuantity.value })">
												<i class="fal fa-cart-plus"></i>
												{{ t('Add to cart') }}
											</button>
											<button class="btn btn-cart addedToCart" @click="toggleAddToCart({ id: variantCurrent.variantId, quantity: $refs.inputQuantity.value })">
												<i class="fas fa-shopping-cart"></i>
												{{ t('Added to cart') }}
											</button>
										</div>
									</div>
								</div>
							</article>
						</main>
					</div>
				</div>
				<div class="card product-description mt-5 border-top">
					<div class="card-body">
						<div class="tabs">
							<div class="tabs-heading">
								<div class="tabs-heading-item title">{{ t('Product description') }}
								</div>
							</div>
							<div class="tabs-content">
								{{ productLocale.desc | raw}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include "../../partials/product-ralated/index.twig" with { productsRelated : productsRelated }  %}
		</div>
	</section>
{% endblock %}
{% block beforeAppScript %}
<script src="/assets/vendors/swiper/swiper.min.js"></script>
{% endblock%}
