.page-shoppingCart {
  color: #000000;

  .title {
    color: #000000;
    font-size: 16px;
  }
  h4 {
    color: #000000;
  }

  .dlist-align {
    display: flex;
    margin-bottom: 8px;
    div {
      width: 50%;
      &:last-child {
        font-weight: 500;
      }
    }
  }

  .form-control {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    .container {
      width: 90% !important;
    }
  }
  @include media-breakpoint-down(sm) {
    .card {
      border: none;
    }
  }
}

.table-shopping-cart {
  &.table {
    margin-bottom: 0;
    tr {
      vertical-align: middle;
    }
    td,
    th {
      padding-left: 1rem;
      padding-right: 1rem;
      border-right: 1px solid #c6c5c5;
      &:last-child {
        border-right: none;
      }
      vertical-align: inherit;
      &.col-stt {
        max-width: 60px;
      }
      &.col-quantity {
        max-width: 120px;
        min-width: 50px;
      }
      &.col-weight {
        width: 120px;
      }
      &.col-price {
        width: 160px;
      }
      &.col-action {
        max-width: 60px;
      }
      &.col-product {
        width: calc(100% - 60px - 120px - 120px - 160px - 60px);
      }
      @include media-breakpoint-down(md) {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        .form-control {
          height: calc(0.7em + 0.9rem + 2px);
          padding: 0.45rem 0.2rem;
        }
        &.col-stt {
          width: 60px;
        }
        &.col-quantity {
          width: 80px;
        }
        &.col-weight {
          width: 120px;
        }
        &.col-price {
          width: 100px;
        }
        &.col-action {
          width: 40px;
        }
        &.col-product {
          width: auto;
        }
      }
      @include media-breakpoint-down(sm) {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        font-size: 12px !important;
        .form-control {
          height: calc(0.7em + 0.9rem + 2px);
          padding: 0.45rem 0.2rem;
        }
        &.col-stt {
          width: 20px;
        }
        &.col-quantity {
          width: 40px;
        }
        &.col-weight {
          width: 60px;
        }
        &.col-price {
          width: 100px;
        }
        &.col-action {
          width: 20px;
        }
        &.col-product {
          width: auto;
        }
      }
    }
    th {
      font-weight: 500;
    }
    td {
      .price-wrap {
        line-height: 1.2;
        text-align: right;
        strong {
          display: none;
        }
      }
      border-right: 1px solid #c6c5c5;
      &:last-child {
        border-right: none;
      }
      vertical-align: middle;
      input {
        text-align: center;
      }
    }
    .itemside {
      display: flex;
      .aside {
        height: auto;
        margin-right: 16px;
        flex: 0 0 160px;
      }
      .info {
        text-align: left;
      }
    }

    .img-sm {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(sm) {
      thead {
        display: none;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #c6c5c5;
        vertical-align: middle;
        td {
          width: 100%;
          &:first-child {
            display: none;
          }
          border: none;

          .td-wrap {
            display: flex;
            strong {
              display: block;
            }
            > :first-child {
              width: 40%;
              text-align: left;
              min-width: 40%;
            }
            > :last-child {
              width: 60%;
              text-align: right;
              min-width: 60%;
            }

            input {
              width: 100px;
              float: right;
              clear: both;
              text-align: right;
            }
          }
          .itemside {
            flex-wrap: wrap;
            .aside {
              flex-basis: 100%;
            }
          }
        }
      }
    }
  }

  .price {
    display: block;
    font-weight: 400;
  }

  .info {
    p {
      // height: 38px;
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: normal;
      // -webkit-line-clamp: 2;
      // margin-top: 8px;
      // @include media-breakpoint-down(sm) {
      //   height: 32px;
      // }
    }
  }
}

.table-shopping-delivery {
  th,
  td {
    padding-left: 0;
    padding-right: 4px;
  }
}

.shoppingCartTable {
  margin-bottom: 16px;
  .card-body {
    padding: 0;
  }
}

.shoppingCartPayment {
  .card-title {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    p {
      line-height: 1.2;
    }
    i {
      font-size: 0.7rem;
      text-transform: none;
    }
  }
  .column {
    margin-bottom: 16px;
  }
}

.card-payment {
  strong {
    font-weight: 500;
  }
  dt {
    font-weight: 400;
  }
}

.card-shipping {
  .custom-radio {
    width: 30%;
    margin-right: 0px;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: $gray-200 !important;
}
.was-validated :valid ~ .valid-feedback {
  display: none !important;
}

#formShippingMethod {
  display: flex;
  flex-wrap: wrap;
  label {
    width: 33%;
    margin-bottom: 8px;
  }
}
#formPaymentMethod {
  display: flex;
}

.noticePaymentMethod {
  margin-top: 4px;
  span {
    display: none;
    font-size: 80%;
    color: #fa3434;
    &.show {
      display: block;
    }
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -80px 0 0 -25px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #324968;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: 0.2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: 0.2;
  }
}

.saving span {
  animation-name: blink;

  animation-duration: 1.4s;

  animation-iteration-count: infinite;

  animation-fill-mode: both;
  font-size: 50px;
}

.saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: 0.4s;
}
