{% extends "../../layouts/darkchild.layout.twig" %}
{% block beforeStyle %}
{% endblock%}
{% block content %}
	<div class="section-pagetop bg-white page-shoppingCart ">
		<div class="container">
			<main class="shoppingCart">
				<aside class="shoppingCartTable column one">
					<div class="card">
						<div class="card-body">
							<table class="table table-shopping-cart">
								<thead>
									<tr class="text-uppercase">
										<th scope="col" class="col-stt text-center d-none d-md-table-cell">{{t('STT')}}</th>
										<th scope="col" class="col-product text-center">{{t('Product')}}</th>
										<th scope="col" class="col-quantity text-center">{{t('Quantity')}}</th>
										<th scope="col" class="col-weight text-center d-none d-md-table-cell">{{t('Weight')}}</th>
										<th scope="col" class="col-price text-center">{{t('Price')}}</th>
										<th scope="col" class="col-action text-center"></th>
									</tr>
								</thead>
								<tbody>
									<template x-for="(prod, index) in products" :key="index">
										<tr>
											<td class="text-center d-none d-md-table-cell" x-text="index + 1"></td>
											<td>
												<figure class="itemside">
													<div class="aside">
														<img :src="prod.feature" :alt="prod.name" class="img-sm"/>
													</div>
													<figcaption class="info">
														<a href="#" class="title text-dark" x-text="prod.name"></a>
														<div class="mt-1">
															<span>{{t('Product code')}}</span>:
															<span x-text="prod.sku"></span>
														</div>
														<p class="text-muted small" x-text="prod.brief"></p>
													</figcaption>
												</figure>
											</td>
											<td>
												<div class="price-wrap td-wrap">
													<strong>{{ t('Quantity') }}</strong>
													<div>
														<input class="form-control" name="quantity" type="number" min="1" max="200" x-model="prod.quantity" @change="changeProductQuantityItem(prod)"/>
													</div>
												</div>
											</td>
											<td class="text-right d-none d-md-table-cell">
												<div class="price-wrap td-wrap">
													<strong>{{ t('Weight') }}</strong>
													<div class="price" x-text="prod.weight + ' Kg'"></div>
												</div>
											</td>
											<td class="text-right">
												<div class="price-wrap td-wrap">
													<strong>{{ t('Price') }}</strong>
													<div class="price" x-text="app.getCurrency(prod.subPrice)"></div>
												</div>
											</td>
											<td class="text-right">
												<span href="" class="btn btn-light btn-remove" @click="removeProductItem(prod.id)">
													<i class="fas fa-times"></i>
												</span>
											</td>
										</tr>
									</template>
									<template x-if="products.length < 1">
										<tr>
											<td class="empty text-center" colspan="6">{{ t('You have no items in your shopping cart, please add product')}}</td>
										</tr>
									</template>
								</tbody>
							</table>
						</div>
					</div>
				</aside>
				<aside class="shoppingCartPayment" style="display:none" x-show="products.length > 0">
					<div class="one-fourth column">
						<div class="card">
							<div class="card-body card-customer">
								<h4 class="card-title mb-4">{{t('Your information')}}
									<p>
										<i>({{ t('Require fill information') }})</i>
									</p>
								</h4>
								<form role="form" class="formCustomerInfo needs-validation" id="formCustomerInfo" novalidate>
									<div class="form-group">
										<label for="Fullname">{{ t('Fullname') }}*</label>
										<input id="Fullname" type="text" class="form-control" name="fullname" placeholder="{{ t('Fullname') }}" required x-model="formOrder.customerName">
										<div class="invalid-feedback">
											{{ t('You must your fullname') }}
										</div>
									</div>
									<div class="form-group">
										<label for="Email">{{ t('Email') }}*</label>
										<input id="Email" type="text" class="form-control" name="email" placeholder="{{ t('Your email') }}" required x-model="formOrder.email">
										<div class="invalid-feedback">
											{{ t('You must your email') }}
										</div>
									</div>
									<div class="form-group">
										<label for="Phone">{{ t('Phone') }}*</label>
										<input id="Phone" type="text" class="form-control" name="phone" placeholder="{{ t('Your phone') }}" required x-model="formOrder.phone">
										<div class="invalid-feedback">
											{{ t('You must your phone') }}
										</div>
									</div>
									<div class="form-group">
										<label for="note">{{ t('Note') }}</label>
										<textarea id="note" type="text" class="form-control" name="note" placeholder="{{ t('Your note') }}" rows="3" x-model="formOrder.note"></textarea>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="one-second column">
						<form class="formShipping" id="formShipping">
							<div class="card">
								<article class="card-body card-shipping">

									<h4 class="card-title mb-4">{{ t('Shipping Address')}}
									</h4>
									<div class="form-row">
										<div class="one-second column form-group">
											<label>{{ t('Country')}}*</label>
											<select class="form-control" name="country" required x-model="formOrder.shippingCountry" @change="changeCoutry(formOrder.shippingCountry)">
												<option selected value="">{{ t('Chonse country') }}</option>
												<template x-for="item in countries" x-cloak>
													<option :value="item.id" x-text="item.name"></option>
												</template>
											</select>
											<div class="invalid-feedback">
												{{ t('You must your country') }}
											</div>
										</div>
										<div class="one-second column form-group">
											<label>{{ t('City')}}*</label>
											<span id="citywraper">
												<template x-if="cities.length === 0">
													<input type="text" class="form-control" name="city" required x-model="formOrder.shippingCityName">
												</template>
												<template x-if="cities.length > 0">
													<select class="form-control" name="city" required x-model="formOrder.shippingCity" @change="changeCity(formOrder.shippingCity)">
														<option selected value>{{ t('Chonse City') }}</option>
														<template x-for="item in cities">
															<option :value="item.id" x-text="item.name"></option>
														</template>
													</select>
												</template>

												<div class=" invalid-feedback">
													{{ t('You must your city') }}
												</div>
											</span>
										</div>

										<div class="one column form-group">
											<label>{{ t('Address')}}*</label>
											<input type="text" class="form-control" name="address" required x-model="formOrder.shippingAddress">
											<div class="invalid-feedback">
												{{ t('You must your address') }}
											</div>
										</div>
									</div>
								</article>
								<article class="card-body border-top card-shipping">
									<h4 class="card-title mb-4">{{t('Chonse Menthod Shipping')}}*</h4>

									<div id="formShippingMethod" class="method-dhl form-group">
										<template x-for="shippingMenthod in shippingMenthods">
											<label class="custom-controlcustom-radiocustom-control-inline">
												<input required class="custom-control-input" :disabled="shippingMenthod.disabled" type="radio" name="shippingMethod" :value="shippingMenthod.name" x-model="formOrder.shippingMethod">
												<span class="custom-control-label" x-text="shippingMenthod.name"></span>
											</label>
										</template>
										<template x-if="!hasShippingMenthodAvailable()">
											<div class="invalid-feedback" style="display:block!important">
												{{ t('You must your menthod shipping') }}
											</div>
										</template>


										<div class="noticePaymentMethod">
											<span class="dhl" :class="{ 'show': formOrder.shippingMethod === 'DHL'}">
												<i>({{t('Notice')}}:
													{{t('shipping time is from 5 to 7 days')}})</i>
											</span>
											<span class="fedex" :class="{ 'show': formOrder.shippingMethod === 'FEDEX'}">
												<i>({{t('Notice')}}:
													{{t('shipping time is from 7 to 10 days')}})</i>
											</span>
											<span class="tnt" :class="{ 'show': formOrder.shippingMethod === 'ARAMEX' || formOrder.shippingMethod == 'DPEX' || formOrder.shippingMethod == 'TNT'||formOrder.shippingMethod == 'EMS'}">
												<i>({{t('Notice')}}:
													{{t('shipping time is from 10 to 15 days')}})</i>
											</span>
										</div>
									</div>
								</article>
								<article class="card-body border-top card-shipping">
									<h4 class="card-title mb-4">{{t('Chonse Menthod Payment')}}</h4>
									<div id="formPaymentMethod">
										<label class="custom-control custom-radio custom-control-inline">
											<input class="custom-control-input" checked type="radio" name="paymentMethod" value="PAYPAL" x-model="formOrder.paymentMethod">
											<span class="custom-control-label">
												Paypal
											</span>
										</label>
										<label class="custom-control custom-radio custom-control-inline">
											<input class="custom-control-input" type="radio" name="paymentMethod" value="BANK" x-model="formOrder.paymentMethod">
											<span class="custom-control-label">
												{{t('Bank Transfer')}}
											</span>
										</label>
										<label class="custom-control custom-radio custom-control-inline">
											<input class="custom-control-input" type="radio" name="paymentMethod" value="WESTERN" x-model="formOrder.paymentMethod">
											<span class="custom-control-label">
												Western Union
											</span>
										</label>
									</div>
								</article>
							</form>
						</div>
					</div>
					<div class="one-fourth column">
						<div class="card">
							<article class="card-body card-payment">
								<h4 class="card-title mb-4">{{t('Payment Infomation')}}</h4>
								<div class="dlist-align">
									<div>{{t('Price products')}}:</div>
									<div class="text-right">
										<span x-text="app.getCurrency(subPrice)"></span>
									</div>
								</div>
								<div class="dlist-align">
									<div>{{t('Delivery charge')}}:</div>
									<div class="text-right">
										<span x-text="app.getCurrency(shippingFee)"></span>
									</div>
								</div>
								<div class="dlist-align">
									<div x-show="formOrder.paymentMethod === 'PAYPAL'">{{t('Paypal charge')}}:</div>
									<div x-show="formOrder.paymentMethod !== 'PAYPAL'">{{t('Bank charge')}}:</div>
									<div class="text-right">
										<span x-text="app.getCurrency(paymentFee)"></span>
									</div>
								</div>
								<div class="dlist-align">
									<div>{{t('Total')}}:</div>
									<div class="text-right">
										<strong x-text="app.getCurrency(totalPrice)"></strong>
									</div>
								</div>
								<hr/>

								<p class="text-center mb-3">
									<img src="http://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/misc/payments.png" height="26">
								</p>
								<div id="order-button-wraper" x-show="formOrder.paymentMethod !== 'PAYPAL'">
									<a href="#" class="btn btn-primary btn-block" id="order-button-container" @click="orderCart()">
										{{ t('Make Purchase') }}
									</a>
								</div>
								<div id="paypal-button-wraper" x-show="formOrder.paymentMethod === 'PAYPAL'">
									<div id="paypal-button-container"></div>
								</div>
							</article>
						</div>
					</div>
				</aside>
			</main>
		</div>
	</div>
	<div class="md-modal md-effect-1$" :class="{ 'md-show': orderModal.isShow }">
		<div class="md-content">
			<div class="modal-heading">
				<h3>{{ t('Order status notification')}}</h3>
				<div class="modal-logo">
					<img alt="logo" src="https://dtdauto.com/icon/LOGO_Mid.png"/>
				</div>
				<div class="modal-close" @click='closeOrderModal()'>
					<span>x</span>
				</div>
			</div>
			<div class="modal-body" x-show="!orderModal.isLoading">
				<h4 x-text="orderModal.status" style="text-align:center"></h4>
				<div x-html="orderModal.message" style="text-align:center"></div>
				<div x-html="orderModal.goto" style="text-align:center"></div>
			</div>
			<div class="modal-body" x-show="orderModal.isLoading">
				<div style="height: 80px">
					<div id="loader"></div>
				</div>
				<div style="text-align: center;">
					<span x-text="orderModal.loadingMessage"></span>
					<span class="saving">
						<span>.</span>
						<span>.</span>
						<span>.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="md-overlay"></div>
{% endblock %}
{% block beforeScript %}
	<script data-version-4 data-log-level="info" src="https://www.paypal.com/sdk/js?client-id=AfrHEFYZzNNDMkaxHYBXSUoib0RrVpeNCcjEsaET5fYxCitlk-HIMa5rJEvbePbq1-e2JUWzVmpwhzh_"></script>
{% endblock %}
