{% extends "../../layouts/darkchild.layout.twig" %}
{% block content %}
	<div class="section-statistics bg-white">
		<div class="container space-2 space-top-md-4 space-top-lg-3 ">
			<div class="w-lg-80 text-center mx-lg-auto">
				<div class="mb-11">
					<h2 class="display-6 font-weight-semi-bold">{{ t('Quý khách đã đăng ký thành công.')}}</h2>
					<h2>{{ t('DTDAuto Vietnam sẽ liên hệ với quý khách chậm nhất trong 24h!')}}</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
