.page-item {
  .page-link {
    color: #324968;
    border-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  &.active {
    .page-link {
      background-color: #324968;
    }
  }
}
