.section-related {
  margin-top: 40px;
}
.product-related {
  .card-product-grid {
    padding: 20px;
    .img-wrap {
      width: 100%;
      text-align: center;
      height: 200px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .title {
    font-size: 16px;
  }
}
