<div class="section-related">
	<div class="container">
		<header class="section-heading">
			<h3 class="section-title text-center">{{t('Products related')}}</h3>
		</header>
		<div class="swiper-container product-related">
			<div class="swiper-wrapper">
				{% for product in products %}
					{% include "./item/index.twig" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
