#contactform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .column {
    margin: 0 0 8px 0 !important;
  }
  .one-second {
    width: 49%;
  }
}

.list-par {
  & > li {
    list-style: none !important;
    padding-left: 24px;
    position: relative;

    &::before {
      content: '↳';
      display: inline-block;
      font-weight: 700;
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
  ul {
    li {
      list-style-type: square;
    }
  }
}
