{% extends "../../layouts/darkchild.layout.twig" %}

{% block content %}
	<div id="Content">
		<div class="content_wrapper clearfix">
			<div class="sections_group">
				<div class="entry-content">
					<div class="section" style="padding-top:70px; padding-bottom:40px; background-color:#f9a558">
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								<div class="column one column_column ">
									<div class="column_attr align_center">
										<div class="image_frame no_link scale-with-grid alignnone no_border">
											<div class="image_wrapper"><img class="scale-with-grid" src="/assets/images/global/home_factory_about_icon.png" alt="">
											</div>
										</div>
										<hr class="no_line hrmargin_b_20"/>
										<h3 style="margin: 0 7%;">
											{{ t('introduction heading')}}
										</h3>
										<h4 style="margin: 0 7%;">
											{{ t('introduction content')}}
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section full-width " style="padding-top:90px; padding-bottom:50px; ">
						<div class="section_wrapper clearfix">
							<div class="items_group clearfix">
								<div class="column one column_column ">
									<div class="column_attr ">
										<div style="padding: 40px 6% 10px; border-right: 3px solid #97a2b2;">
											<div class="column one-second">
												<h3>{{ t('DTDAUTO TECHNOLOGY TEAM')}}</h3>
												<hr class="divider"/>
												<hr class="no_line hrmargin_b_30"/>
												<hr class="no_line hrmargin_b_30"/>
												<ul class="list-par">
													<li>
														<p class="big">
															{{ t('"DTDAuto" is the abbreviated name of Team for researching and manufacturing Technology equipments for automotives, Institute of Physics, Institute of Science and Technology of Vietnam (DTDAuto Technology Team)."')}}
														</p>
													</li>
													<li>
														<p class="big">
															{{ t('Since 2002, DTDAuto is a laboratory where we have researched, designed and manufactured high-tech equipment used for workshops and vocational schools with updated modern technique. ')}}
														</p>
													</li>
												</ul>
											</div>
											<div class="column one-second">
												<div class="image_frame no_link scale-with-grid alignnone no_border">
													<div class="image_wrapper">
														<iframe width="560" height="315" src="https://www.youtube.com/embed/98rsvwQ4wPE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>
												</div>
												<p class="big text-center">
													<i>{{ t('Clip of DTDAuto Showroom in the TechMart2009 fair')}}</i>
												</p>
											</div>
											<div class="column one">
												<ul class="list-par">
													<li>
														<p class="big">
															{{ t('Activities in Science, Technology and Manufacturing of DTDAuto include')}}:
														</p>
														<div class="big">
															<ul>
																<li>Research & develop technique of measurement, diagnosis and automatic control with computer: Research; Design; Manufacturing; Technology Transfer & Equipment Supply...
																</li>
																<li>Consultation & training and development of modern training equipment
																</li>
																<li>Cooperate with Research institutes, schools, companies and individuals in the world.
																</li>
																<li>Research and manufacture electronic and automatic equipment in the fields of automotive equipment; industry chemistry equipment; equipment for measurement, inspection and diagnosis; equipment for health, environment; training equipment...
																</li>

															</ul>
														</div>
													</li>
													<li>
														Since 2002 to present, products manufactured by DTDAuto always have high standards of science, technique and job-training at commercialization level and used in many vocational schools, training center and workshops in the world.</li>
													<li>DTDAuto will attempt more in the future to bring high-quality products to everybody. DTDAuto is always eager and honored to cooperate and share information with partners in the expertise fields we can undertake.</li>
													<li>
														On behalf of all members of DTDAuto, I would like to thank for the cooperation and support of Research Institutes, universities, commercial companies, vocational schools, workshops and colleagues all over the world to support the development of DTDAuto.</li>
													<li>DTDAuto members are researchers, university lecturers and students from Institute of Science & Technology of Vietnam, Military Technology Academy, Hanoi University of Technology, Aptech Training Center and Hanoi Robotcon candidates.
													</li>
												</ul>

												<p class="text-right">Master Duong Tuan Dung</p>
											</div>
										</div>
										<hr class="no_line hrmargin_b_1"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section" style="padding-top:70px; padding-bottom:40px; background-color:#324968">
					<div class="section_wrapper clearfix">
						<div class="items_group clearfix">
							<div class="column one column_column ">
								<div class="column_attr align_center">
									<h2 style="color: #fff;">{{t('footer heading')}}</h2>
									<h3 style="color: #fff; margin: 0 7% 20px;">
										{{t('footer content')}}
									</h3>
									<a class="button  bg-yellow" href="/{{ t('path:contact')}}" style=" color:#324968;">
										<span class="button_label">{{t('Go to contact')}}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
