<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{t('DTDAuto sent email your order')}}</title>
		<style>
			.invoice-box {
				max-width: 768px;
				margin: auto;
				padding: 30px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.subject {
				width: 100%;
				margin-top: 30px;
				margin-bottom: 30px;

			}

			.subject td {
				width: 50%;
				vertical-align: baseline;
			}

			.h {
				font-size: 19px;
				font-weight: 500;
				color: #2E4A74;
				border-bottom: 1px solid #ddd;
				margin-top: 16px;
				margin-bottom: 16px;
			}

			.items {
				margin-top: 20px;
				width: 100%;
				line-height: inherit;
				text-align: right;
				border: 1px solid #2E4A74;
			}

			.items th,
			.items td {
				border: 1px solid #2E4A74;
				border-collapse: collapse;

			}

			.items td {
				padding: 5px;
				vertical-align: top;
			}

			.items tr td:first-child {
				text-align: left;
			}

			.items tr.heading td {
				background-color: #2E4A74;
				font-weight: bold;
				color: #fff;

			}

			.total td {
				text-align: right !important;
			}

			.total:last-child td {
				font-weight: bold;
			}
			@media only screen and(max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<div class="invoice-box">
			<div style="margin-bottom: 16px">
				<img src="https://dtdauto.com/assets/images/logos/logo-white.png" alt="DTDAuto logo" style="width:100%; max-width:250px;">
			</div>

			<div>Dear
				{{ orderData.customerName or t('Customer')}}!</div>
			<div style="margin-bottom: 30px">DTDAuto
				{{t('send you an electronic invoice for invoice')}}
				#00000{{ orderData.id }}</div>

			<div class="h">
				<strong>{{t('INVOICE')}}
					#00000{{ orderData.id }}</strong>
				({{ orderData.createdDate | date("d/m/Y H:m")}})
			</div>

			<table class="subject">
				<tr>
					<td>
						<strong>{{t('Bill to')}}:</strong>
						<br>
						{{ orderData.customerName }}
						<br>
						<a>{{ orderData.email }}</a>
						<br>
						{{ orderData.phone }}
						<br>
					</td>

					<td>
						<strong>{{t('Ship to')}}:</strong><br>
						{{ orderData.shippingAddress }},
						{{ orderData.shippingCityName }},
						{{ orderData.shippingCountryName }}
					</td>
				</tr>
			</table>

			<div class="h">
				<strong>{{t('INVOICE DETAILS')}}</strong>
			</div>

			<table class="items" cellpadding="0" cellspacing="0">
				<tr class="heading">
					<td>
						{{t('P/N')}}
					</td>
					<td style="text-align: left;">
						{{t('ITEMS')}}
					</td>
					<td>
						{{t('QTY')}}
					</td>
					<td width="120">
						{{t('RATE')}}
						({{ orderData.currency }})
					</td>
					<td width="100">
						{{t('AMOUNT')}}
						({{ orderData.currency }})
					</td>
				</tr>
				{% for item in orderData.cartItem %}
					<tr class="item {{ loop.last and 'last'}}">
						<td>{{ loop.index  }}</td>
						<td>
							{{ item.sku }}
							-
							{{ language == 'vi' ? item.nameEn : item.nameVn }}
						</td>
						<td>
							{{ item.quantity }}
						</td>
						<td>
							{{ item.price }}
							{{orderData.currency}}
						</td>
						<td>
							{{ item.totalPrice }}
							{{ orderData.currency }}
						</td>

					</tr>
				{% endfor %}

				<tr class="item total">
					<td colspan="4">
						{{t('Subtotal')}}
					</td>
					<td>
						{{ orderData.total - orderData.paymentFee - orderData.shippingFee }}
						{{ orderData.currency }}
					</td>
				</tr>
				<tr class="item total">
					<td colspan="4">
						{{t('Shipping')}}
					</td>
					<td>
						{{ orderData.shippingFee }}
						{{ orderData.currency }}
					</td>
				</tr>
				<tr class="item total">
					<td colspan="4">
						{{t('Bank trans fee')}}
					</td>
					<td>
						{{ orderData.paymentFee }}
						{{ orderData.currency }}
					</td>
				</tr>
				<tr class="item total">
					<td colspan="4">
						{{t('TOTAL')}}
					</td>
					<td>
						{{ orderData.total }}
						{{ orderData.currency }}
					</td>
				</tr>
			</table>

			<p>
				<i>{{t('Note')}}:
					{{ orderData.note }}</i>
			</p>

			{% if orderData.paymentMenthod == 'PAYPAL' %}
				<div class="h">
					<strong>PAYMENT INFORMATION</strong>
				</div>

				<div>
					<strong>1. WESTERN UNION PAYMENT:</strong>
					<div>
						- Name: Mr. DUONG TUAN DUNG (First name/Mid name/Last name)<br>
						- Address: 14A, 79/56 Alley, Caugiay Str, Hanoi, Vietnam<br>
						- Telephone: +84913001792<br>
						- Passport No: B1749928<br>
						<i>Notes: after transfer money, please email to us includes</i><br>
						- Name of sender:<br>
						- Address of sender:<br>
						- Total of money:<br>
						- Money transfer control number (full 10 numbers)<br>
					</div>
				</div>
				<div style="margin-top: 16px">
					<strong>2. TT ADVANCE PAYMENT:</strong>
					<div>
						- Account number: 0611371653124<br>
						- Name of account: DUONG TUAN DUNG (First name/Mid name/Last name)<br>
						- At: JOINT STOCK COMMERCIAL BANK FOR FOREIGN TRADE OF VIETNAM<br>
						- Address: 521 Kimma, Badinh, Hanoi, Vietnam<br>
						- SWIFT: BFTVVNVX002<br>
					</div>
				</div>

			{% endif %}

			<p>
				<i>Please email to us after your payment is complete. Thank for your orders! Please access https://dtdauto.com or contact me via email: dtdauto@gmail.com when you need support.</i>
			</p>

			<strong>Best Regards,
				<br>
				DTDAuto</strong>
		</div>
	</body>
</html>
