<div class="section full-width " style="padding-top:70px; padding-bottom:40px; background-color:#f4f6f8">
	<div class="section_wrapper clearfix">
		<div class="items_group clearfix">
			<div class="column one-third column_column">
				<div class="column_attr align_right">
					<div style="padding: 70px 6%; border-right: 3px solid #97a2b2; min-height: 226px;">
						<h2>Quick contact
							<br>
							centre</h2>
					</div>
				</div>
			</div>
			{% for staff in site.staffs %}
				{% include "./item.twig" with { staffs: staffs } %}
			{% endfor %}
		</div>
	</div>
</div>
