{% set staffLocale = language == 'vi' 
	? {  avatar: staff.avatar, name: staff.nameVn, brief: staff.briefVn, mobile: staff.mobileVn,email: staff.email, position: staff.positionVn } 
	: {  avatar: staff.avatar, name: staff.nameEn, brief: staff.briefEn, mobile: staff.mobileEn,email: staff.email, position: staff.positionEn} 
%}
<div class="column one-fiveth column_our_team ">
	<div class="team team_circle">
		<div class="image_frame no_link scale-with-grid">
			<div class="image_wrapper">
				<img class="scale-with-grid" src="{{ staffLocale.avatar }}" alt="{{ staffLocale.name }}"/>
			</div>
		</div>
		<div class="desc_wrapper">
			<h4>{{ staffLocale.name }}</h4>
			<p class="subtitle">
				{{ staffLocale.position }}
			</p>
			<hr class="hr_color"/>
			<div class="desc">
				{{ staffLocale.mobile }}<br/>{{ staffLocale.email }}
			</div>
		</div>
	</div>
</div>
