.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9a558;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  .dropdown:hover & {
    display: block;
  }
}

#Top_bar {
  #menu {
    background-color: unset !important;
  }
  .menu > li > a span:not(.description) {
    padding: 0 16px;
  }
  .menu > li.last {
    margin-right: 0px;
  }
  #menu-main-menu > li:last-child {
    margin-right: 40px;
  }

  .menu li ul.menu-main-menu-sub {
    display: block;
    background-color: #f9a558;
    a {
      color: #000;
    }
    li {
      &:hover {
        background-color: #ffffff;
      }
    }
    > li {
      width: 100%;
      > ul {
        left: 100%;
        > li {
          border-left: 1px solid #c6c6c6;
          min-width: 120px;
        }
      }
    }
  }
}

body:not(.template-slider) #Header {
  min-height: 120px;
}

#Header {
  a {
    text-transform: uppercase;
  }
  a.responsive-menu-toggle {
    left: -12px;
    .fa-times {
      display: none;
      color: #fff;
    }
    &.active {
      .fa-times {
        display: block;
      }
      .fa-bars {
        display: none;
      }
    }
    @media (max-width: 760px) {
      top: 14px !important;
    }
  }
  @include media-breakpoint-down(sm) {
    min-height: 60px !important;
  }
}

#logo {
  width: 200px;
  @media (max-width: 1280px) {
    width: 166px;
  }
  @media (max-width: 760px) {
    width: 150px;
    margin: 0 auto;
    padding: 0 !important;
  }
  img {
    width: 100%;
  }
}

#Subheader {
  @include media-breakpoint-down(sm) {
    padding: 30px 0 60px;
  }
  .title {
    font-size: 32px;
    line-height: 1.2;
  }
}

.top_bar_left {
  position: relative;
  margin-top: 0 !important;
  .cart {
    position: absolute;
    right: 0;
    top: 28px;
    padding: 5px;
    @media (max-width: 760px) {
      top: 14px !important;
    }
  }
}

.menu_wrapper {
  display: flex;
  align-items: center;
}

.cart {
  position: relative;
  color: white;
  z-index: 1000;
  cursor: pointer;
  font-size: 18px;

  &-notification {
    background-color: #f9a558;
    position: absolute;
    top: -8px;
    right: -8px;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.4;
    font-size: 0.9rem;
    &:hover {
      background-color: #f8a450;
      cart-notification {
        background-color: #f7b471;
      }
    }
  }
  .is-sticky & {
    right: -6px;
    top: 12px;
  }
}

@media screen and (max-width: 1240px) {
  .top_bar_left {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .menu_wrapper {
    display: block;
    position: absolute;
    background-color: #121e2d !important;
    top: 80px;
  }
  #Header #menu {
    position: static;
    float: left;
    width: auto;
  }
  .dropdown-content {
    position: relative;
    a {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }
  }
}

.custom-select {
  &-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    line-height: 30px;
    padding: 28px 0;
    position: relative;
    .is-sticky & {
      padding: 12px 0;
    }
  }

  &__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px 6px 16px;
    color: #000;
    background: #ffffff;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    img {
      width: 18px;
    }
    span {
      pointer-events: none;
      max-width: 100px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 1;
      word-break: break-all;
      line-height: 1.4;
      @media (max-width: 768px) {
        max-width: 90%;
        font-size: 18px;
      }
    }
    a {
      text-decoration: none;
    }
  }

  position: relative;
  display: flex;
  flex-direction: column;

  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    overflow-y: scroll;
    height: 300px;

    .custom-option {
      position: relative;
      display: block;
      padding: 8px 2px 8px 4px;
      @media only screen and (max-width: 1239px) {
        padding: 8px 32px !important;
      }
      font-weight: 300;
      color: #000;
      cursor: pointer;
      transition: all 0.5s;
      text-decoration: none;
      height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 1;
      word-break: break-all;
      line-height: 1.8;
      &:hover {
        cursor: pointer;
        background-color: #b2b2b2;
      }

      &.selected {
        color: #ffffff;
        background-color: #305c91;
      }
    }
  }

  &.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .arrow {
    position: relative;
    height: 7px;
    width: 7px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 0.15rem;
      height: 100%;
      transition: all 0.5s;
    }

    &::before {
      left: 10px;
      transform: rotate(45deg);
      background-color: #394a6d;
    }

    &::after {
      left: 14px;
      transform: rotate(-45deg);
      background-color: #394a6d;
    }
  }

  &.open .arrow {
    &::before {
      left: 10px;
      transform: rotate(-45deg);
    }

    &::after {
      left: 14px;
      transform: rotate(45deg);
    }
  }
}
