<div id="Header_wrapper" class="bg-parallax" data-stellar-background-ratio="0.5">
	<header id="Header">
		{% include "./header-top/index.twig" %}
		{% include "../../partials/banners/index.twig" %}
	</header>
</div>
