.subheader-search_wrapper {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    border: 2px solid #f9a558;
    background-color: #fff;
    width: 60%;
    align-items: center;
    border-radius: 2px;
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      width: calc(100% - 2.5rem);
    }
    #input-search {
      width: calc(100% - 100px);
      border-color: transparent;
    }
    .search-submit {
      width: 100px;
      height: 34px;
      padding: 3px;
      button {
        background-color: #f9a558;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 500;
        i {
          font-weight: 700;
        }
      }
    }
  }
}
