<div id="Header_wrapper" class="bg-parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 6px;">
	<header id="Header">
		{% include "../header/header-top/index.twig" %}
	</header>
	<div id="Subheader">
		<div class="container">
			<div class="column one">
				<h1 class="title">{{ site.title }}</h1>
				<div class="subheader-search_wrapper">
					<form method="get" action="/{{ t('path:search') }}">
						<input type="text" id="input-search" name="s" placeholder="{{ t('Search products') }}"/>
						<div class="search-submit">
							<button type="submit" class="submit">
								<i class="far fa-search"></i>
								{{ t('Search') }}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
