$primary: #324968;
$gray-200: #c6c6c6;
$gray-600: #c6c6c6;
$gray-800: #c6c6c6;
$border-radius: 0;
$spacer: 16px;
$h1: 2 * $spacer;
$h2: 1.5 * $spacer;
$h3: 1.25 * $spacer;
$h4: 1 * $spacer;
$h5: 0.75 * $spacer;
$h6: 0.5 * $spacer;
