html,
body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.3;
}
.fa,
.far,
.fas {
  font-family: 'Font Awesome 5 Pro';
}
.fas.fa-bars {
  color: #ffffff;
}
a {
  &.button_theme,
  &.tp-button.button_theme {
    background-color: #324968;
    color: #ffffff !important;
  }
}
button {
  background-color: #324968;
  color: #ffffff !important;
}
input {
  &[type='submit'],
  &[type='reset'],
  &[type='button'] {
    background-color: transparent;
  }
}
input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  background-color: transparent;
  border-color: $primary;
  border-width: 1px;
  box-shadow: 0 0 0 0 transparent;
  color: #757575;
  margin: 0;
  border-color: #ddd8d8;
  padding: 8px;
  &:focus {
    background-color: transparent !important;
    border-color: #9e9e9e !important;
    color: #757575;
  }
  font-family: inherit;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fa3434;
}
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}
.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bg-gray {
  &-gray {
    background-color: #f1f1f1 !important;
  }
  &-white {
    background-color: #ffffff !important;
  }
}
table tr:hover td {
  background: #f4f4f4;
}
.bg-img-hero {
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-addtocart {
  .btn-cart {
    cursor: pointer;
    padding: 8px 8px;
    color: $primary !important;
    border: none;
    background-color: none;
    i {
      font-size: 16px;
      color: $primary;
    }
    margin: 0;
    &:hover {
      border: none;
    }
  }
  .addedToCart {
    background-color: none;

    display: none;
    padding: 8px 8px;
    color: $primary !important;
    border: none;
    &:hover {
      border: none;
    }
  }
  &.added {
    .addedToCart {
      display: block;
      color: $gray-800 !important;
      i {
        color: $gray-800 !important;
      }
    }
    .addToCart {
      display: none;
    }
  }
}

.btn {
  border-radius: 0;
  &-primary {
    background-color: #324968;
    border-color: #324968;
    color: #ffffff;
  }
  &-block {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  .buyNow {
    padding: 8px 8px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c6c6c6;
  border-radius: 0;
  &-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
}
.section-title {
  font-weight: 300;
  font-size: 2rem;
}
.section-pagetop {
  padding: 45px 0;
}

.h {
  &1 {
    font-weight: 500;
  }
  &2 {
    font-weight: 500;
  }
  &3 {
    font-weight: 500;
  }
  &4 {
    font-weight: 500;
  }
  &5 {
    font-weight: 500;
  }
  &6 {
    font-weight: 500;
  }
}

.justify-content-end {
  display: flex;
  justify-content: center;
}
.form-group {
  margin-bottom: 12px;
}
label,
.custom-control-label {
  font-weight: 400;
}

.modal .modal-dialog {
  .modal-header .close {
    padding: 0.3rem 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    color: #000 !important;
    font-size: 20px;
  }
  margin-top: 200px;
}

.border-bottom {
  border-bottom: 1px soild #000;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.bg-yellow {
  background-color: #f9a558 !important;
  color: #000000 !important;
}

@include media-breakpoint-only(sm) {
  .container {
    width: 95% !important;
  }
}

@include media-breakpoint-only(xs) {
  .container {
    width: 90% !important;
  }
}
select {
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 0;
  -webkit-appearance: menulist;
}
