{% extends "../../layouts/darkchild.layout.twig" %}

{% block content %}
	<style>
		#Subheader {
			padding: 30px 0 60px;
		}
		body:not(.template-slider) #Header {
			min-height: 97px;
		}
		#Subheader .title,
		.text-logo #logo,
		h1 {
			font-size: 34px;
			letter-spacing: 2px;
		}
	</style>
	<div class="page-training container space-bottom-md-2 space-bottom-lg-3">
		<div class="w-lg-90 mx-auto">
			<div class="training2">
				<div class="training-body">
					<div class="clazzs">
						<div class="clazzs-heading">Danh sách các Module</div>
						<template x-for="(clazz, index) in clazzes" :key="index">
							<div class="clazz" x-bind:class="{ 'active': clazz.active }" @click="clickClazz(clazz.id)">
								<h2 class="clazz-title" x-text="clazz.title"></h2>
								<ul>
									<template x-for="(item, index2) in clazz.items" :key="index2">
										<li x-text="item.title"></li>
									</template>
								</ul>
							</div>
						</template>
					</div>
					<div class="subjects">
						<div class="subjects-heading">Danh sách các lớp học đang mở
							<div class="cta-sub">
								<a>Xem hướng dẫn đăng ký học</a>
							</div>
						</div>
						<template x-for="(subject, index) in subjects" :key="index">
							<div class="subject">
								<div class="subject-info">
									<h2 class="subject-title" x-text="subject.title"></h2>
									<ul>
										<template x-for="(item, index2) in subject.items" :key="index2">
											<li>
												<strong x-text="item.title + ':'"></strong>
												<span x-text="item.value"></span>
											</li>
										</template>
									</ul>
								</div>
								<div class="subject-more">
									<button @click="openCourseModal(subject)">
										Đăng ký ngay
									</button>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
			<template x-if="contentSubject">
				<div class="training-content">
					<div class="content-heading">
						<h2 x-text="'Thông tin '+ contentSubject.title"></h2>
						<h3 x-html="contentSubject.subheading"></h3>
					</div>
					<div class="content-body">
						<ul class="content-list">
							<template x-for="item in contentSubject.contents">
								<li class="content-list-item">
									<h4 class="item-heading" x-text="item.title"></h4>
									<div class="item-body" x-html="item.value"></div>
								</li>
							</template>
						</ul>
					</div>
				</div>
			</template>
			<div class="training2" style="display:none">
				<div class="training-body">
					<div class="clazzs">
						<div class="clazzs-heading">Danh sách các Module</div>
						<div class="clazz active">
							<h2 class="clazz-title">LỚP ĐIỆN TỬ XE MÁY TIÊU CHUẨN</h2>
							<ul>
								<li>Thời lượng: 45 NGÀY</li>
								<li>Ký hiệu: lớp K</li>
							</ul>
						</div>
						<div class="clazz">
							<h2 class="clazz-title">LỚP MODULE ABS &amp; SMART KEY</h2>
							<ul>
								<li>Thời lượng: 10 NGÀY</li>
								<li>Ký hiệu: lớp A</li>
							</ul>
						</div>
						<div class="clazz">
							<h2 class="clazz-title">LỚP MODULE ABS &amp; SMART KEY</h2>
							<ul>
								<li>Thời lượng: 5 NGÀY</li>
								<li>Ký hiệu: lớp D</li>
							</ul>
						</div>
					</div>
					<div class="subjects">
						<div class="subjects-heading">Danh sách các lớp học đang mở
							<div class="cta-sub">
								<a>Xem hướng dẫn đăng ký học</a>
							</div>
						</div>
						{% for item in [1,2,3] %}
							<div class="subject">
								<div class="subject-info">
									<h2 class="subject-title">LỚP ĐIỆN TỬ XE MÁY TIÊU CHUẨN KHÓA 24</h2>
									<ul>
										<li>
											<strong>Thời gian học:</strong>
											45 NGÀY
										</li>
										<li>
											<strong>Ngày khai giảng:</strong>
											07/04/2020</li>
										<li>
											<strong>Địa điểm học:</strong>
											Phòng đào tạo DTDAuto, Tầng 3, Tòa nhà A25, Viện Vật lý, Viện Hàn lâm KH&CN Việt Nam, số 18 Hoàng Quốc Việt, Hà Nội, Việt Nam</li>
										<li>
											<strong>Đội tượng học viên:</strong>
											Dành cho học viên mới học từ đầu, nhưng chỉ học những phần chính: khởi động, nạp, đánh lửa, phun xăng,  OBD, ACG, Idling Stop, IMMO, ODO....không học ABS và SMART KEY.</li>
										<li>
											<strong>Chú ý:</strong>
											Học cả ngày sáng chiều từ T2 đến T6. Sáng từ 8h30 đến 11h30,  chiều từ 2h00 đến 5h00.</li>
									</ul>
								</div>
								<div class="subject-more">
									<button @click="openCourseModal()">
										Đăng ký ngay
									</button>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="training-content" style="display:none">
				<div class="content-heading">
					<h2>Thông tin lớp học LỚP ĐIỆN TỬ XE MÁY TIÊU CHUẨN (45 NGÀY)</h2>
					<h3>CHƯƠNG TRÌNH PHỔ BIẾN TIẾN BỘ KHCN ỨNG DỤNG<br/>TRONG CHẨN ĐOÁN LỖI KỸ THUẬT XE MÁY THẾ HỆ MỚI KHÓA 24, 25</h3>
				</div>
				<div class="content-body">
					<ul class="content-list">
						<li class="content-list-item">
							<h4 class="item-heading">A: Đối tượng học viên</h4>
							<div class="item-body">
								<div>1. Thợ sửa chữa mô tô, xe máy thế hệ xe cũ muốn cập nhật kiến thức mới</div>
								<div>2. Giáo viên dạy nghề mô tô, xe máy các trường dạy nghề muốn nâng cao nghiệp vụ</div>
								<div>3. Sinh viên, học sinh các trường cao đẳng, đại học kỹ thuật điện, điện tử</div>
								<div>4. Thợ sửa chữa điện tử, điện lạnh dân dụng muốn chuyển nghề sửa chữa xe máy</div>
								<div>5. Nhân viên phòng tư vấn kỹ thuật muốn cập nhật kiến thức mới</div>
								<div>6. Quản lý xưởng muốn hiểu biết thêm về công nghệ mới và đầu tư trang thiết bị</div>
								<div>7. Các công ty, doanh nghiệp, đơn vị quân đội, trường đào tạo nghề muốn hợp tác đào tạo bồi dưỡng giáo viên, kỹ thuật viên</div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">B: Thời gian học</h4>
							<div class="item-body">
								<div>45 ngày
									<i>(Học cả ngày từ thứ 2 đến thứ sáu)</i>
								</div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">C: Địa điểm học</h4>
							<div class="item-body">
								<div>- Địa chỉ 2:&nbsp;Phòng đào tạo DTDAuto, Tầng 3, Tòa nhà A25, Viện Vật lý, Viện Hàn lâm KH&amp;CN Việt Nam, số 18 Hoàng Quốc Việt, Hà Nội, Việt Nam</div>
								<div>- Địa chỉ 4: Địa điểm đào tạo DTDAuto, Hội trường lầu 1, Văn phòng đại diện tại TP.HCM của Phân viện Hàn lâm KH&amp;CN Việt Nam, số 1 Mạc Đĩnh Chi, P.Bến Nghé, Q.1, Tp.Hồ Chí Minh</div>
								<img alt="" src="https://dtdauto.com//icon/Vien_Hanlam.jpg" class="style-img">
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">D: Thông tin tuyển sinh</h4>
							<div class="item-body">
								<div>- Địa chỉ 2:&nbsp;Phòng đào tạo DTDAuto, Tầng 3, Tòa nhà A25, Viện Vật lý, Viện Hàn lâm KH&amp;CN Việt Nam, số 18 Hoàng Quốc Việt, Hà Nội, Việt Nam</div>
								<div>- Địa chỉ 4: Địa điểm đào tạo DTDAuto, Hội trường lầu 1, Văn phòng đại diện tại TP.HCM của Phân viện Hàn lâm KH&amp;CN Việt Nam, số 1 Mạc Đĩnh Chi, P.Bến Nghé, Q.1, Tp.Hồ Chí Minh</div>
								<img alt="" src="https://dtdauto.com//icon/Vien_Hanlam.jpg" class="style-img">
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">E: Giảng viên</h4>
							<div class="item-body">
								<div>1. Ths. DƯƠNG TUẤN DŨNG (giảng viên chính, Viện KH&CN VN)</div>
								<div>2. KS. TRẦN VIỆT PHÚ (giảng viên, PGD. DTDAUTO VIETNAM)</div>
								<div>3. Ths. BÙI MINH HẰNG (giảng viên, DTDAUTO VIETNAM)</div>
								<div>4. KS. TRẦN ANH TUẤN</div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">F: Dụng cụ học tập</h4>
							<div class="item-body">
								<div>- Giáo trình, thiết bị đào tạo chuyên dụng và xe máy thế hệ mới thực hành các loại</div>
								<div>- Máy tính, Internet, phần mềm tra cứu dữ liệu sửa chữa và giáo trình đào tạo</div>
								<div>- Thiết bị đo kiểm tra chuyên dụng, máy chẩn đoán phân tích dữ liệu</div>
								<div>- Thực hành tại xưởng sửa chữa</div>
								<div>- Máy tính xách tay
									<i>(học viên tự trang bị)</i>
								</div>
							</div>
						</li>

						<li class="content-list-item">
							<h4 class="item-heading">F: Học phí</h4>
							<div class="item-body">
								<div>Học viên liên hệ số điện thoại 1900 2228 ấn phím 0; 0913555416 giờ hành chính để được tư vấn hỗ trợ</div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">G: Nội dung, học phần</h4>
							<div class="item-body">
								<div>
									Chương trình và nội dung học được DTDAuto biên soạn tương đương với trình độ kỹ sư điện, điện tử mô tô, xe máy của các nước phát triển trên thế giới.
									<div>1. Kỹ thuật điện và điện tử cơ bản trong sửa chữa xe máy</div>
									<div>
										2. Kỹ thuật điều khiển tự động trong cấu tạo và hoạt động của xe máy thế hệ mới
									</div>
									<div>
										3. Tiếng Anh kỹ thuật chuyên ngành, máy tính và Internet trong tìm kiếm dữ liệu, tra cứu thông tin sửa chữa mô tô, xe máy
									</div>
									<div>
										4. Kỹ thuật tra cứu, phân tích và chẩn đoán lỗi bằng sơ đồ mạch điện: sơ đồ
									</div>
									<div>
										5. Kỹ thuật tra cứu, phân tích và chẩn đoán lỗi bằng các phương pháp:</div></div>
									</div>
									<div>
										7. Hư hỏng thường gặp của khối điều khiển trung tâm
										<em>(ECU/ ECM)</em>
									</div>
									<div>
										8. Kỹ thuật phân tích dữ liệu hiện hành
										<em>(live data)</em>
										trong chẩn đoán</div>
									<div>
										9. Kỹ thuật hiệu chỉnh tốc độ không tải, tỷ lệ hòa khí và công suất động cơ
									</div>
									<div>
										10. Kỹ năng sử dụng và vận hành thiết bị chuyên dụng xúc rửa, làm sạch và kiểm
									</div>
									<div>
										11. Kỹ thuật Đọc/ Xóa/ Reset bộ nhớ lỗi và phân tích dữ liệu hiện hành<em>(Live data)</em>
										bằng máy chẩn đoán OBD chuyên dụng MOTOSCAN
									</div>
									<div>
										12. Tra cứu tài liệu tra cứu sơ đồ điện, thông số kỹ thuật và hướng dẫn sửa
										<strong>Honda, Yamaha, Piaggio, Suzuki, SYM, Kymco</strong>
										bằng phần mềm  tiếng Việt
										<a href="../Product/Product_motobike/MOTODATA.htm">MOTODATA</a>
									</div>
									<div>
										13. Phát triển tư duy, hiểu biết về kỹ thuật sửa chữa điện tử theo hướng chuyên nghiệp, giúp học viên có khả năng tự đọc tài liệu, nghiên cứu phát triển nghề trong những năm kế tiếp
									</div>
									<div>
										14. Thực tập tại các xưởng của DTDAuto và xưởng sửa chữa xe máy tại Hà Nội
									</div>
									<div>
										15. Kiểm tra, tổng kết, đánh giá xếp loại, cấp chứng nhận tốt nghiệp đào tạo của DTDAuto
									</div>
								</div>
							</li>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">I: Hồ sơ đăng ký khóa học</h4>
							<div class="item-body">
								<div>
									1.
									<a href="../Download/Ho%20so%20mau.zip">
										<strong>Hồ sơ lý lịch cá nhân</strong>
									</a>
									<em>
										(xác nhận địa phương, nộp vào ngày khai giảng)</em>
								</div>
								<div>2.	Đơn xin học</div>
								<div>3. 03 ảnh 4x6
								</div>
								<div>4. Chứng nhận khác<em>
										(liên quan nếu có)</div>
									<div></em>5. Nộp tiền đặt chỗ trước: 500.000 VND
									<em>(để thuận lợi cho việc quản lý và tổ chức lớp học)</em>
								</div>
								<div></div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">J: Quyền lợi và chính sách</h4>
							<div class="item-body">
								<div>Học viên liên hệ số điện thoại 1900 2228 ấn phím 0; 0913555416 giờ hành chính để được tư vấn hỗ trợ</div>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">K: Thông tin khác</h4>
							<div class="item-body">
								<div>Đăng kí học sớm trước ngày khai giảng 1 đến 2 tháng. DTDAuto chỉ tuyển sinh đến khi  đủ số lượng học viên. Học viên đăng ký muộn vui lòng chuyển sang học khóa kế tiếp.</div>
								<em style="color:red">(Lưu ý: Học viên đã đăng ký lớp học thì cố gắng sắp xếp thời gian để học theo đúng lịch khai giảng. Nếu vì lý do cá nhân không thể theo học được sẽ chỉ được chuyển một lần sang học khóa kế tiếp gần nhất và không được hoàn lại tiền đặt chỗ đã đăng ký.)</em>
							</div>
						</li>
						<li class="content-list-item">
							<h4 class="item-heading">L: Một số hình ảnh lớp học</h4>
							<div class="item-body">
								<img class="style-img" style="margin-top:20px;margin-bottom:20px;" alt="" src="https://dtdauto.com/Training_Help/LXM_01%20copy.jpg">
								<img class="style-img" style="margin-top:20px;margin-bottom:20px;" alt="" src="https://dtdauto.com/Training_Help/LXM_06%20copy.jpg">
								<img class="style-img" style="margin-top:20px;margin-bottom:20px;" alt="" src="https://dtdauto.com/Training_Help/LXM_07%20copy.jpg">
								<img class="style-img" style="margin-top:20px;margin-bottom:20px;" alt="" src="https://dtdauto.com/Training_Help/LXM_08%20copy.jpg">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="md-modal md-effect-1$" :class="{ 'md-show': isShowModal }">
		<template x-if="modal">
			<div class="md-content">
				<div class="modal-heading">
					<h3 x-show="applyResult.done === false">Đăng ký khóa học</h3>
					<h3 x-show="applyResult.done === true">Thông báo</h3>
					<div class="modal-logo">
						<img alt="logo" src="https://dtdauto.com/icon/LOGO_Mid.png"/>
					</div>
					<div class="modal-close" @click='closeCourseModal()'>
						<span>x</span>
					</div>
				</div>
				<div class="modal-body" x-show="applyResult.done === false">
					<div class="modal-body-inner">
						<div class="subject-modal-intro">
							<h1 class="intro-heading" x-text="modal.title"></h1>
							<div class="intro-body">
								<img src="https://dtdauto.com/Training_Help/assets/image/tranning-course.jpeg" align="left"/>
								<ul>
									<li>
										<b>Thời gian học:</b><br/><span x-text="modal.during"></span>
									</li>
									<li>
										<b>Ngày khai giảng:</b>
										<br/>
										<span x-text="modal.startAt"></span>
									</li>
								</ul>
							</div>
							<div class="intro-body">
								<ul>
									<template x-for="(item, index) in modal.items" :key="index">
										<li x-show="index > 1">
											<b x-text="item.title"></b>
											<span x-text="item.value"></span>
										</li>
									</template>
								</ul>
							</div>
						</div>
						<div class="subject-modal-form">
							<form id="contactform">
								<div class="column one">
									<input x-model="form.name" placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false">
								</div>

								<div class="column one">
									<input x-model="form.phone" placeholder="Your phone" type="text" name="subject" id="subject" size="40" aria-invalid="false">
								</div>
								<div class="column one">
									<input x-model="form.numberOfRegister" placeholder="Your email" type="number" name="email" id="email" size="40" aria-required="true" aria-invalid="false">
								</div>

								<div class="column one">
									<input x-model="form.email" placeholder="Your email" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false">
								</div>

								<div class="column one">
									<input x-model="form.address" placeholder="Your address" type="text" name="subject" id="subject" size="40" aria-invalid="false">
								</div>
							</form>
							<button class="md-close" @click='clickApplyRegister(modal)'>
								<div x-show="isApplyLoading === true" class="loader"></div>
								Đăng ký
							</button>
						</div>
					</div>
				</div>
				<div class="modal-body" x-show="applyResult.done === true">
					<h4 x-text="applyResult.status" style="text-align:center"></h4>
					<div x-text="applyResult.message" style="text-align:center"></div>
				</div>
			</div>
		</template>
	</div>
	<div class="md-overlay"></div>
{% endblock %}
