<div class="section full-width " style="padding-top:50px; padding-bottom:0px; background-color:#f4f6f8">
	<div class="section_wrapper clearfix">
		<div class="items_group clearfix">
			<div class="column one column_column ">
				<div class="column_attr align_center">
					<h3 style="margin-bottom: 50px;">{{t('We are spread around the world')}}</h3>
				</div>
			</div>
			<div class="column one column_map ">
				<div class="google-map-wrapper no_border">
					<div class="google-map" id="google-map-area-55310ed3f1e0e" style="width:100%; height:700px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
