<!DOCTYPE html>
<html lang="{{ language }}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1"/>
		<title>
			{{ site.title }}
			| DTDAuto Viet nam
		</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="author" content="DtdAuto Vietnam">
		<link rel="shortcut icon" href="images/favicon.ico">

		{% block beforeStyle %}
		{% endblock%}

		{% block style %}
		<link href="/assets/vendors/fw/fontawesome.min.css" rel="stylesheet">
		<link href="/assets/vendors/fw/light.min.css" rel="stylesheet">
		<link href="/assets/vendors/fw/brands.min.css" rel="stylesheet">

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700'>
		<link rel='stylesheet' href='/assets/styles/main.css'>
		{% endblock%}

		{% block afterStyle %}
		{% endblock%}

		<script>
			window.Language = '{{ language }}';
window.BaseUrl = '{{ baseUrl }}';
		</script>
	</head>
	<body x-data="app.getState()" x-init="init()" class="layout-full-width no-content-padding header-classic sticky-header header-menu-right">
		<div id="Wrapper">

			{% include "../partials/header/index.twig" %}

			{% block content %}
			{% endblock%}

			{% include "../partials/footer/index.twig" %}

		</div>

		{% block beforeScript %}
		{% endblock%}

		{% block script %}
			<script src="/assets/vendors/lazyload.min.js"></script>
			<script src="/assets/vendors/jquery-2.1.4.min.js"></script>
			<script src="/assets/vendors/jquery.plugins.js"></script>
			<script src="/assets/vendors/mfn.menu.js"></script>
			<script src="/assets/vendors/scripts.js"></script>
			<script src="/assets/vendors/store.min.js"></script>
			<script src="/assets/vendors/alpine/alpine.min.js"></script>
			<script async type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		{% endblock %}

		{% block beforeAppScript %}
		{% endblock%}

		{% block appScript %}
		<script src="/assets/scripts/app.js"></script>
		{% endblock%}

		{% block  afterAppScript %}
		{% endblock%}

	</body>
</html>
