<div id="Top_bar">
	<div class="container">
		<div class="column one">
			<div class="top_bar_left clearfix">
				<a class="responsive-menu-toggle" href="#">
					<i class="fas fa-bars"></i>
					<i class="fas fa-times"></i>
				</a>
				<div class="logo">
					<a id="logo" href="{{t('path:home')}}" title="DTDAuto">
						<img class="scale-with-grid" src="/assets/images/logos/logo-white.png" alt="DTDAuto Vietnam"/>
					</a>
				</div>
				<a class="btn-cart cart" href="/{{t('path:shopping-cart')}}">
					<i class="fas fa-shopping-cart"></i>
					<div class="cart-notification" x-text="list.length"></div>
				</a>
				<div class="menu_wrapper">
					<nav id="menu">
						<ul id="menu-main-menu" class="menu">
							{% for menu in site.menuMain %}
								{% if menu.children %}
									<li class="dropdown{{ menu[site.language].slug == slug ? ' current_page_item' : ''}}">
										<a href="{{ menu[site.language].slug ? menu[site.language].slug : '#' }}" class="dropbtn web" id="{{ menu[site.language].slug }}">
											<span>{{ menu[site.language].name }}</span>
										</a>
										<div class="dropdown-content" aria-labelledby="{{ menu[site.language].slug }}">
											<ul class="menu-main-menu-sub">
												{% for item in menu.children %}
													<li class="{{ item.children ? 'dropdown': ''}}">
														<a href="{{ item[site.language].slug }}">{{ item[site.language].name }}</a>
														{% if item.children %}
															<ul class="menu-main-menu-sub">
																{% for item2 in item.children %}
																	<li>
																		<a href="{{ item2[site.language].slug ? item2[site.language].slug : '#' }}" class="dropbtn web" id="{{ item2[site.language].slug }}">
																			<span>{{ menu[site.language].name }}</span>
																		</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
												{% endfor %}
											</ul>
										</div>
									</li>
								{% else %}
									<li class="{{ menu[site.language].slug == slug ? ' current_page_item' : ''}}">
										<a href="{{ menu[site.language].slug }}">
											<span>{{ menu[site.language].name }}</span>
										</a>
									</li>
								{% endif %}
							{% endfor %}
							<li>
								{% include "./languages.twig" %}
							</li>
						</ul>
					</nav>
				</div>
				<div class="search_wrapper">
					<form method="get" action="#">
						<i class="icon_search icon-search"></i>
						<a href="#" class="icon_close">
							<i class="icon-cancel"></i>
						</a>
						<input type="text" class="field" name="s" placeholder="Enter your search"/>
						<input type="submit" class="submit flv_disp_none" value=""/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
