<div class="custom-select-wrapper">
	<div class="custom-select">
		<div class="custom-select__trigger">
			<span>
				<a class="custom-option" data-value="{{ site.languages[0].nativeName }}">
					<img src="/assets/images/flags/{{ site.languages[0].image }}.png" alt="en">
					{{ site.languages[0].nativeName }}
				</a>
			</span>
			<div class="arrow"></div>
		</div>
		<div class="custom-options">
			{% for lang in site.languages %}
				{% if lang.href %}
					<a class="custom-option {{ site.language == lang.code ? 'selected' : '' }}" data-value="{{ lang.nativeName }}" href="{{ lang.href }}" onclick="onEventCloseGoogleTranslate(event)">
						<img data-src="/assets/images/flags/{{ lang.image }}.png" alt="{{ lang.nativeName }}">
						{{ lang.nativeName }}
					</a>
				{% else %}
					<a class="lang-{{ lang.code }} lang-select custom-option {{ site.language == lang.code ? 'selected' : '' }}" data-lang="{{ site.language }}" data-value="{{ lang.nativeName }}" href="#googtrans({{ site.language }}|{{ lang.code }})">
						<img data-src="/assets/images/flags/{{ lang.image }}.png" alt="{{ lang.nativeName }}">
						{{ lang.nativeName }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript">
	function onEventCloseGoogleTranslate(event) {
var iframe = document.getElementsByClassName('goog-te-banner-frame')[0];
if (! iframe) {
return;
}

var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
var restore_el = innerDoc.getElementsByTagName("button");
var close_el = innerDoc.getElementsByClassName("goog-close-link");
var restore_el = innerDoc.getElementsByTagName("button");

for (var i = 0; i < restore_el.length; i++) {
if (restore_el[i].id.indexOf("restore") >= 0) {
restore_el[i].click();
var close_el = innerDoc.getElementsByClassName("goog-close-link");
close_el[0].click();
history.pushState("", document.title, window.location.pathname + window.location.search);
window.location.reload();
return;
}
}

event.stopPropagation();
event.preventDefault()
return;
}
function eventForDropdownLanguage() {
document.querySelector('.custom-select-wrapper').addEventListener('click', function () {
this.querySelector('.custom-select').classList.toggle('open');
})
for (const option of document.querySelectorAll(".custom-option")) {
option.addEventListener('click', function () {
if (!this.classList.contains('selected')) {
const eleSelected = this.parentNode.querySelector('.custom-option.selected');
if (eleSelected) {
eleSelected.classList.remove('selected');
}
this.classList.add('selected');
this.closest('.custom-select').querySelector('.custom-select__trigger span').innerHTML = this.innerHTML;
}
})
}
window.addEventListener('click', function (e) {
const select = document.querySelector('.custom-select')
if (! select.contains(e.target)) {
select.classList.remove('open');
}
});
}

function googleTranslateElementInit() {
new google.translate.TranslateElement({
pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT,
// layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
autoDisplay: false
}, 'google_translate_element');
}

function triggerHtmlEvent(element, eventName) {
var event;
if (document.createEvent) {
event = document.createEvent('HTMLEvents');
event.initEvent(eventName, true, true);
element.dispatchEvent(event);
} else {
event = document.createEventObject();
event.eventType = eventName;
element.fireEvent('on' + event.eventType, event);
}
}
var languages = document.querySelectorAll('.lang-select');
languages.forEach(function (lang) {
lang.addEventListener('click', function (event) {
var theLang = this.dataset.lang || 'en';
// jQuery('.goog-te-combo').val(theLang);

window.location = this.getAttribute('href');
location.reload();
})
})
eventForDropdownLanguage()
</script>
