.training2 {
  padding-top: 24px;
  .training-body {
    display: flex;
    @media (max-width: 768px) {
      display: block;
    }
  }
  .training-heading {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .clazzs {
    display: flex;
    flex-direction: column;
    width: 300px;
    &-heading {
      background-color: #324968;
      color: #fff;
      padding: 4px 16px;
      font-weight: 500;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .clazz {
    width: 300px;
    padding: 20px;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    &:hover {
      border-color: transparent;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    &.active {
      border-color: #324968;
    }
    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 0;
    }
    ul {
      margin-top: 2px;
      li {
        font-size: 14px;
      }
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .subjects {
    width: 100%;
    margin-left: 24px;
    box-sizing: border-box;
    &-heading {
      background-color: #324968;
      color: #fff;
      padding: 4px 16px;
      font-weight: 500;
      margin-bottom: 8px;
      position: relative;
      text-transform: uppercase;
    }
    .subject {
      margin-bottom: 16px;
      border: 1px solid #c6c6c6;
      &.active {
        border: 1px solid #324968;
      }
      padding: 20px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      &:hover {
        border-color: transparent;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }
      &-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 0;
      }
      ul {
        margin-top: 8px;
        li {
          font-size: 14px;
          line-height: 1.4;
          margin-bottom: 2px;
          &::before {
            content: '►';
            font-size: 9px;
          }
        }
      }

      &-more {
        position: absolute;
        right: 16px;
        top: 16px;
        @media (max-width: 600px) {
          position: static;
          margin-top: 16px;
          width: 100%;
          display: block;
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0px;
    }
  }
  .cta-sub {
    &.out {
      display: none;
    }
    position: absolute;
    right: 4px;
    top: 3px;
    border: 1px solid #fff;
    div {
      color: #fff;
      padding: 2px;
      font-size: 13px;
      cursor: pointer;
      &:before {
        content: '';
        width: 20px;
        height: 13px;
        background-repeat: no-repeat;
        background-image: url(/assets/images/icons/hand-point-icon.png);
        display: inline-block;
      }
    }

    @media (max-width: 768px) {
      &.out {
        display: block;
        position: relative;
        text-align: center;
        div {
          font-size: 16px;
          color: #000000;
          line-height: 1;
          padding: 0;
          right: 0px;
          top: 0px;
          &:before {
            content: '';
            width: 20px;
            height: 13px;
            background-repeat: no-repeat;
            background-image: url(/assets/images/icons/hand-point-icon.png);
            display: inline-block;
          }
        }
        margin-bottom: 8px;
      }
      &.in {
        display: none;
      }
    }
  }
  button {
    font-size: 16px;
    padding: 4px 8px;
    &:hover {
      background-color: #f9a558;
    }
  }
}

.training-content {
  border: 1px solid #324968;
  .item-heading {
    text-transform: uppercase;
  }
}

.content-body {
  padding: 16px;
}

.content-heading {
  h2 {
    font-size: 18px;
    line-height: 1.4;
    background-color: #324968;
    color: white;
    padding: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h3 {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;
  }
}

.content-list-item {
  margin-bottom: 12px;
}
.item {
  &-heading {
    background-color: #c6c6c6;
    color: #fff;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    width: 300px;
    position: relative;
    margin-bottom: 8px;
    &::after {
      display: block;
      content: '';
      position: absolute;
      border-right: 20px solid transparent;
      border-top: 26px solid #c6c6c6;
      top: 0;
      right: -20px;
    }
  }
  &-body {
    img {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

/*modal*/

.md-modal {
  position: fixed;
  top: 35%;
  left: 50%;
  width: 90%;
  max-width: 768px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(33, 32, 32, 0.8);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}
.md-perspective body {
  background: #222;
  perspective: 600px;
}

.md-content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;

  background: #fff;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;

  h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #c6c6c6;
  }

  .modal-body {
    padding: 24px 24px 24px;
    margin: 0;
    font-weight: 300;
    min-height: 160px;

    p {
      margin: 0;
      padding: 10px 0;
    }
    ul {
      margin: 0;
      li {
        &::before {
          content: '►';
          font-size: 9px;
        }
      }
    }
    button {
      display: flex;
      margin: 0 auto;
      font-size: 1.2em;
      padding: 8px 12px;
    }
  }
}

.modal-body {
  font-size: 14px;
  &-inner {
    display: flex;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 400px;
    padding: 16px;
  }
  .subject-modal-intro {
    width: 50%;

    border-right: 1px solid #fce8e8;
    padding-right: 16px;
    .intro-heading {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0;
      @media (max-width: 768px) {
        text-align: center;
        font-size: 14px;
      }
    }
    .intro-body {
      img {
        width: 150px;
      }
      div {
        font-size: 100%;
      }
    }
    @media (max-width: 768px) {
      border-right: none;
      width: 100%;
      padding: 0;
    }
  }
  .subject-modal-form {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-top: 16px;
    }
    padding-left: 24px;
  }
}

.modal-heading {
  position: relative;
  h3 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .modal-logo {
    position: absolute;
    top: 10px;
    left: 16px;
    img {
      width: 150px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .modal-close {
    right: 10px;
    position: absolute;
    top: 13px;
    font-size: 16px;
    color: #9b9393;
    padding: 2px 8px;
    cursor: pointer;
  }
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  margin-right: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-students {
  margin-top: 16px;
  thead {
    th {
      text-align: center;
      text-transform: uppercase;
    }
    td {
      text-transform: uppercase;
    }
  }
  tr {
    td {
      text-align: left;
      &:first-child {
        text-align: center;
      }
    }
  }
}
