{% extends "../../layouts/darkchild.layout.twig" %}
{% block content %}
	<style>
		#Subheader {
			padding: 30px 0 60px;
		}
		body:not(.template-slider) #Header {
			min-height: 97px;
		}
		#Subheader .title,
		.text-logo #logo,
		h1 {
			font-size: 34px;
			letter-spacing: 2px;
		}
	</style>
	<script>
		var __subjects = {{ subjects }};
	</script>
	<div x-data="app.getStateEducation()" class="page-training container space-bottom-md-2 space-bottom-lg-3">
		<div class="w-lg-90 mx-auto">
			<div class="training2">
				<div class="training-body">
					<div class="clazzs">
						<div class="clazzs-heading">{{ t('List of class') }}</div>
						<template x-for="(clazz, index) in clazzes" :key="index">
							<div class="clazz" x-bind:class="{ 'active': clazz.active }" @click="clickClazz(clazz.id)">
								<h2 class="clazz-title" x-text="clazz.title"></h2>
								<ul>
									<template x-for="(item, index2) in clazz.items" :key="index2">
										<li>
											<span x-text="item.title"></span>
											<span x-html="item.value"></span>
										</li>
									</template>
								</ul>
							</div>
						</template>
					</div>
					<div class="subjects">
						<div class="subjects-heading">
							{{ t('Class Information') }}
							<div class="cta-sub in">
								<div @click="isVisiableVideo =! isVisiableVideo">{{ t('How to Register Your Class') }}</div>
							</div>
						</div>

						<div class="cta-sub out">
							<div @click="isVisiableVideo =! isVisiableVideo">{{ t('How to Register Your Class') }}</div>
						</div>
						<template x-if="isVisiableVideo">
							<div>
								<iframe width="100%" height="350" src="https://www.youtube.com/embed/OMw7P_RufFo"></iframe>
							</div>
						</template>
						<template x-for="(subject, index) in subjects" :key="index">
							<div class="subject" @click="clickCourse(subject)" x-bind:class="{ 'active': subject.active }">
								<div class="subject-info">
									<a href="#table-info" class="subject-title" x-text="subject.title"></a>
									<ul>
										<template x-for="(item, index2) in subject.items" :key="index2">
											<li>
												<strong x-text="item.title + ':'"></strong>
												<span x-html="item.value"></span>
											</li>
										</template>
									</ul>
									<br/>
									<a class="link-origin" href="#table-info">{{ t('Read more detail')}}
										>></a>
								</div>
								<div class="subject-more">
									<button @click="openCourseModal(subject)">
										{{ t('Register') }}
									</button>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
			<template x-if="contentSubject">
				<div class="training-content" x-on:load.window="loadStudents(contentSubject.courseId)" id="table-info">
					<div class="content-heading">
						<h2 x-text="contentSubject.title"></h2>
						<h3 x-html="contentSubject.subheading"></h3>
					</div>
					<div class="content-body">
						<ul class="content-list">
							<template x-for="item in contentSubject.contents">
								<li class="content-list-item">
									<template x-if="item && item.code === 'information'">
										<div>
											<h4 class="item-heading" x-text="item.title"></h4>
											<div class="item-body">
												-
												{{ t('Number Of Student') }}
												:
												<span x-text="contentSubject.numberOfStudent"></span>
												{{ t('students')}}/{{t('course')}}
												<table class="list-students">
													<thead>
														<tr>
															<td style="background-color: #e6e6e6;" colspan="3">
																<strong>{{ t('List Of Registered Students') }}
																	<span x-text="contentSubject.code"></span>
																</strong>
															</td>
														</tr>
														<tr>
															<td style="text-align: center; background-color: #f4f4f4; width: 5%;">
																<strong>{{ t('STT') }}</strong>
															</td>
															<td style="text-align: center; background-color: #f4f4f4; width: 25%;">
																<strong>{{ t('Full name') }}</strong>
															</td>
															<td style="text-align: center; background-color: #f4f4f4; width: 70%;">
																<strong>{{ t('Address') }}</strong>
															</td>
														</tr>
													</thead>
													<tbody>
														<template x-for="(student, index) in studentsTable" :key="index">
															<tr>
																<td x-text="index + 1"></td>
																<td x-text="student.name"></td>
																<td x-text="student.address"></td>
															</tr>
														</template>

														<tr>
															<td colspan="3">
																<strong>{{ t('Number of seat are available for course') }}:
																	<span x-text="contentSubject.numberOfStudent - students.length > 0 ? contentSubject.numberOfStudent - students.length : 0"></span>
																</strong>
															</td>
														</tr>
														<tr>
															<td colspan="3">
																<em style="color: red;">({{ t('Note')}}:
																	{{ t('If you are unable to attend this course, you can only enroll the next course and you will not receive your refund') }})</em>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</template>
									<template x-if="item && item.code !== 'information'">
										<div>
											<h4 class="item-heading" x-text="item.title"></h4>
											<div class="item-body" x-html="item.value"></div>
										</div>
									</template>
								</li>
							</template>
						</ul>
					</div>
				</div>
			</template>
		</div>
		<div class="md-modal md-effect-1$" :class="{ 'md-show': isShowModal }">
			<template x-if="modal">
				<div class="md-content">
					<div class="modal-heading">
						<h3 x-show="applyResult.done === false">{{ t('Register the course') }}
						</h3>
						<h3 x-show="applyResult.done === true">{{ t('Notification') }}</h3>
						<div class="modal-logo">
							<img alt="dtdauto logo" src="/assets/images/icons/LOGO_Mid.png"/>
						</div>
						<div class="modal-close" @click='closeCourseModal()'>
							<span>x</span>
						</div>
					</div>
					<div class="modal-body" x-show="applyResult.done === false">
						<div class="modal-body-inner">
							<div class="subject-modal-intro">
								<h1 class="intro-heading" x-text="modal.title"></h1>
								<div class="intro-body">
									<img alt="dtdauto training" src="/assets/images/icons/tranning-course.jpeg" align="left"/>
									<ul>
										<template x-for="(item, index) in modal.items" :key="index">
											<li>
												<b x-text="item.title + ':'"></b>
												<span x-html="item.value"></span>
											</li>
										</template>
									</ul>
								</div>
							</div>
							<div class="subject-modal-form">
								<form id="contactform">
									<div class="column one">
										<input x-model="form.name" placeholder="{{ t('Your name') }}" type="text" name="name" aria-required="true" aria-invalid="false">
									</div>

									<div class="column one">
										<input x-model="form.phone" placeholder="{{ t('Your phone') }}" type="text" name="phone" aria-invalid="false">
									</div>
									<div class="column one">
										<input style="width: 100%;" x-model="form.numberOfRegister" placeholder="{{ t('Number Of Register') }}" type="number" name="numberOfRegister" aria-required="true" aria-invalid="false">
									</div>

									<div class="column one">
										<input x-model="form.email" placeholder="{{ t('Your email') }}" type="email" name="email" aria-required="true" aria-invalid="false">
									</div>

									<div class="column one">
										<input x-model="form.address" placeholder="{{ t('Your address') }}" type="text" name="address" aria-invalid="false">
									</div>
								</form>
								<button class="md-close" @click='clickApplyRegister(modal)'>
									<div x-show="isApplyLoading === true" class="loader"></div>
									{{ t('Register') }}
								</button>
							</div>
						</div>
					</div>
					<div class="modal-body" x-show="applyResult.done === true">
						<h4 x-text="applyResult.status" style="text-align:center"></h4>
						<div x-text="applyResult.message" style="text-align:center"></div>
					</div>
				</div>
			</template>
		</div>
		<div class="md-overlay"></div>
	</div>
{% endblock %}
